{% load i18n product_tags thumbnail purchase_info_tags currency_filters %}

{% with products_sliced=products|slice:":4" %}
    {% if products_sliced %}
    <div class="widget widget_products">
        <h4 class="widget-title">{% trans 'Recent bekeken' %}</h4>
        <ul class="product_list_widget">
        	{% for product in products_sliced %}
            <li>
                <a href="{{ product.get_absolute_url }}">
	            {% with image=product.primary_image %}
	                {% thumbnail image.original "x200" as thumb %}
                    <img src="{{ thumb.url }}" alt="{{ product }}">
	                {% endthumbnail %}
	            {% endwith %}
                    <span class="product-title">{{ product|title }}</span>
                </a>
            {% purchase_info_for_product request product as session %}
                {% if session.price.exists %}
                <span class="amount">{{ session.price.incl_tax|currency:session.price.currency }}</span>
                {% endif %}
            </li>
            {% endfor %}
       	</ul>
   	</div>
    {% endif %}
{% endwith %}




