{% extends 'dashboard/layout.html' %}

{% load i18n event_tags widget_tweaks %}

.collapse-title {
	position: absolute;
	top: 15px;
	left: 15px;
	font-size: 12px;
	font-weight: 700;
	color: #959595;
	text-transform: uppercase;
	letter-spacing: 1px;
	content: "Example"
}

{% block extrastyles %}
    {{ block.super }}
    <style type="text/css">
    	.collapse-title {
    		top: 20px;
    		left: 15px;
			margin-right: 0;
			margin-left: 0;
			background-color: #fff;
			border-color: #ddd;
			border-width: 1px;
			border-radius: 4px 4px 0 0;
			-webkit-box-shadow: none;
			box-shadow: none;
			position: relative;
			padding: 45px 15px 0px;
			margin: 0 -15px 15px;
			border-color: #e5e5e5 #eee #eee;
			border-style: solid;
			border-width: 1px 0;
    	}
		.collapse-title::after {
			box-sizing: border-box;
			position: absolute;
			top: 15px;
			left: 15px;
			font-size: 12px;
			font-weight: 700;
			color: #959595;
			text-transform: uppercase;
			letter-spacing: 1px;
			content: "{% trans 'Alle beurzen' %}"
		}
		#s2id_id_date_day {
			width: 19% !important;
		}
		#s2id_id_date_month {
			width: 49% !important;
		}
		#s2id_id_date_year {
			width: 29% !important;
		}
    </style>

{% endblock %}

{% block breadcrumbs %}
    <ul class="breadcrumb">
        <li>
            <a href="{% url 'dashboard:index' %}">{% trans "Dashboard" %}</a>
        </li>
        <li class="active">{% trans "Events" %}</li>
    </ul>
{% endblock %}

{% block header %}
    <div class="page-header">
        <h1>{% trans "Events" %}</h1>
    </div>
{% endblock header %}

{% block dashboard_content %}
<div class="container">
	<div class="row">
        {% if messages %}
            {% for message in messages %}
            <div class="flat-woocommerce">
                <div class="woocommerce-{% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}success{% else %}danger{% endif %}">
                    <p>{{ message }}<p>
                </div>
            </div>
            {% endfor %}
        {% endif %}
		<div class="col-sm-7" style="padding-left: 0px;">
			<button class="btn btn-info btn-lg" data-toggle="modal" data-target="#eventmodal" style="margin-top: 15px;">
				{% trans 'Event toevoegen' %}
			</button>
		</div>
		{% if object_list %}
		<div class="col-sm-7 collapse-title">
			<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
			{% for event in object_list %}
			  <div class="panel panel-default">
			    <div class="panel-heading" role="tab" id="headingOne">
			      <h4 class="panel-title">
			        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse-{{ forloop.counter }}">
			          {{ event.name|title }} ({{ event.date|date:'b o'}})
			        </a>
			      </h4>
			    </div>
			    <div id="collapse-{{ forloop.counter }}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
			      <div class="panel-body">
			      	<button class="btn btn-info" data-toggle="modal" data-target="#update-modal-{{ forloop.counter }}">Wijzig</button>
			      	<button class="btn btn-danger" data-toggle="modal" data-target="#delete-modal-{{ forloop.counter }}">Verwijder</button>
			      </div>
			    </div>
			  </div>
			  {% endfor %}
			</div>
		</div>
		{% endif %}
	</div>
</div>

<div class="modal fade" tabindex="-1" role="dialog" id="eventmodal">
  <div class="modal-dialog">
    <div class="modal-content">
      	<form method="POST" target="">
      		{% csrf_token %}
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	        <h4 class="modal-title" id="myModalLabel">Nieuw event</h4>
	      </div>
	      <div class="modal-body">
	      	<div class="row">
	      		<div class="col-xs-10 col-xs-offset-1" style="width:420px;">
	      			<div class="form-group">
	      				<label for="{{ form.name.id_for_label }}">{{ form.name.label }}</label>
	      				{% render_field form.name class+="form-control" %}
	      			</div>
	      			<div class="form-group">
	      				<label for="{{ form.date.id_for_label }}">{{ form.date.label }}</label><br>
	      				{% render_field form.date class+="form-control" %}
	      			</div>
	      			<div class="form-group">
	      				<label for="{{ form.duration.id_for_label }}">{{ form.duration.label }}</label><br>
	      				{% render_field form.duration class+="form-control" %}
	      			</div>
	      			<div class="form-group">
	      				<label for="{{ form.location.id_for_label }}">{{ form.location.label }}</label>
	      				{% render_field form.location class+="form-control" %}
	      			</div>
	      			<div class="form-group">
	      				<label for="{{ form.country.id_for_label }}">{{ form.country.label }}</label>
	      				{% render_field form.country class+="form-control" %}
	      			</div>
	      			<div class="form-group">
	      				<label for="{{ form.website.id_for_label }}">{{ form.website.label }}</label>
	      				{% render_field form.website class+="form-control" %}
	      			</div>
	      		</div>
	      	</div>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-default" data-dismiss="modal">Sluiten</button>
	        <button type="submit" class="btn btn-primary">Toevoegen</button>
	      </div>
      	</form>
    </div>
  </div>
</div>

<!-- UPDATE MODAL VIEWS-->
{% for event in object_list %}
<div class="modal fade" id="update-modal-{{ forloop.counter }}">
  <div class="modal-dialog">
	<div class="modal-content">
	    <form method="POST" action="{% url 'event-update' event.pk %}">
	    	{% csrf_token %}
	      	<div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
		        	<span aria-hidden="true">&times;</span>
	        	</button>
		        <h4 class="modal-title" id="myModalLabel">Wijzig {{ event.name }}</h4>
	      	</div>
  				{% event_form event %}
	  	  	<div class="modal-footer">		
	    		<button type="button" class="btn btn-default" data-dismiss="modal">Sluiten</button>
	    		<button class="btn btn-info">Wijzigen</button>
	  	  	</div>
	  	</form>
	</div>
  </div>
</div>
{% endfor %}

<!-- DELETE MODAL VIEWS-->
{% for event in object_list %}
<div class="modal fade" id="delete-modal-{{ forloop.counter }}">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	        <h4 class="modal-title" id="myModalLabel">Opgelet!</h4>
      </div>
      <div class="modal-body">
      	Ben je zeker dat je dit event wil verwijderen?
      </div>
      <div class="modal-footer">
      	<form method="POST" action="{% url 'event-delete' event.pk %}">
  			{% csrf_token %}
        	<button type="button" class="btn btn-default" data-dismiss="modal">Neen</button>
        	<button class="btn btn-danger">Ja, ik ben zeker!</button>
	        </form>
      </div>
    </div>
  </div>
</div>
{% endfor %}

{% endblock dashboard_content %}

