{% extends 'layout.html' %}

{% load staticfiles i18n %}

{# yellow title block #}
{% block subheader_title %}
<div class="page-title parallax-style parallax1" style="background-position: 50% -84px;">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">                    
                <div class="page-title-heading">
                    <h2>Home</h2>
                </div>                        
            </div> 
        </div> 
    </div>                     
</div>
{% endblock %}

{% block content %}

    <!-- Slider -->
    <div class="tp-banner-container">
        <div class="tp-banner" >
            <ul>
                <li data-transition="random-static" data-slotamount="7" data-masterspeed="1000" data-saveperformance="on">
                    <img src="{% static 'images/slides/ds_slide.png' %}" alt="slider-image" />

                    <div class="tp-caption sfr title-slide center" data-x="40" data-y="240" data-speed="1000" data-start="800">                     
                        {% trans 'DS Onderdelen' %}
                    </div>    
                    <div class="tp-caption sfl flat-button-slider bg-button-slider-32bfc0" data-x="40" data-y="370" data-speed="1000" data-start="1100"><a href="{% url 'catalogue:index' %}">{% trans 'Naar shop' %}</a>&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-chevron-right"></i></div>
                </li>

                <li data-transition="random-static" data-slotamount="7" data-masterspeed="1000" data-saveperformance="on">
                    <img src="{% static 'images/slides/2cv_slide.jpg' %}" alt="slider-image" />
                    <div class="tp-caption sfl title-slide center" data-x="40" data-y="240" data-speed="1000" data-start="800">                            
                        {% trans '2PK Onderdelen' %}
                    </div>     
                    <div class="tp-caption sfl flat-button-slider bg-button-slider-32bfc0" data-x="40" data-y="370" data-speed="1000" data-start="1100"><a href="{% url 'catalogue:index' %}">{% trans 'Naar shop' %}</a>&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-chevron-right"></i></div>
                </li>

<!--                 <li data-transition="slidedown" data-slotamount="7" data-masterspeed="1000" data-saveperformance="on">
                    <img src="{% static 'images/slides/sm2_2.jpg' %}" alt="slider-image"/>
                    <div class="tp-caption sfl title-slide center" data-x="40" data-y="240" data-speed="1000" data-start="800">                            
                        {% trans 'SM Onderdelen' %}
                    </div>    
                    <div class="tp-caption sfl flat-button-slider bg-button-slider-32bfc0" data-x="40" data-y="370" data-speed="1000" data-start="1100"><a href="{% url 'catalogue:index' %}">{% trans 'Naar shop' %}</a>&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-chevron-right"></i></div>
                </li> -->
            </ul>
        </div>
    </div>

    <!-- Promobox -->
    <div class="flat-row bg-scheme pad-top0px pad-bottom0px">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="promobox style1 style2 clearfix">
<!--                         <h5 class="promobox-title">{% trans 'Bezoek onze webshop voor een overzicht van al onze producten!' %}</h5>
                        <a class="button black sm" href="{% url 'catalogue:index' %}">Naar webshop<i class="fa fa-chevron-right"></i></a> -->
                        <!-- <h5 class="promobox-title">{% trans 'Op zoek naar andere oldtimer Citroën onderdelen?' %}</h5> -->
                        <h5 class="promobox-title">{% trans 'Tom Verheyden – hét adres voor al uw onderdelen van Citroën DS en 2PK!' %}</h5>
                        <a class="button black sm" href="{% url 'contact' %}">{% trans 'Contacteer ons!' %}<i class="fa fa-chevron-right"></i></a>
                    </div>
                </div><!-- /.col-md-12 -->
            </div><!-- /.row -->
        </div><!-- /.container -->
    </div><!-- /.flat-row -->

    <div class="flat-row flat-general sidebar-right pad-bottom75px">
        <div class="container">
            <div class="row">
                <div class="general">

                    <div class="flat-divider d30px"></div>

                    <h2 class="flat-title-section style">{% trans 'Over' %} <span class="scheme">{% trans 'ons' %}</span></h2>

                    <p>{% trans 'Tom Verheyden (ELV BVBA) is reeds meer dan 20 jaar actief op het vlak van Citroën oldtimers. Wij zijn een groot- en kleinhandel van (hoofdzakelijk nieuwe) onderdelen voor DS en 2PK en leveren wereldwijd aan particulieren, restauratieateliers, oldtimerclubs en handelaars.   Bijna alles kan verzonden worden. Bestellingen afhalen kan ook na afspraak in ons magazijn in Paal-Beringen of op de vele beurzen en Citroën meetings (zie lijst van opkomende events) waar we vertegenwoordigd zijn.' %}</p>

                </div><!-- /.general -->

                <div class="general-sidebars" style="margin-top: 75px;">
                    <div class="sidebar-wrap">
                        <div class="sidebar">


                            <div class="widget widget_text">
                                <div class="textwidget">
                                    <div class="content-text">
                                        <h4 class="title">{% trans 'Op zoek naar andere Citroën onderdelen?' %}</h4>
                                        <p>{% trans 'Wij verdelen ook onderdelen van andere oldtimer Citroën modellen, nog niet alles is terug te vinden in onze webshop. Neem zeker contact op met ons wanneer u een onderdeel zoekt voor uw oldtimer!' %}</p>
                                        <a class="button white" href="{% url 'contact' %}">{% trans 'Contacteer ons!' %}<i class="fa fa-chevron-right"></i></a>
                                    </div>
                                </div><!-- /.textwidget -->
                            </div><!-- /.widget_text -->

                        </div><!-- /.sidebar -->
                    </div><!-- /.sidebar-wrap -->
                </div><!-- /.general-sidebars -->
            </div><!-- /.row -->
        </div><!-- /.container -->
    </div>

{% endblock content %}

{% block extrascripts %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'js/jquery.themepunch.tools.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.themepunch.revolution.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/slider.js' %}"></script> 
{% endblock %}