/* AANVULLINGEN VIA CANAVA WORDPRESS*/

.woocommerce .woocommerce-info {
	color: #31708f;
	padding: 20px 20px 20px 60px;
	margin-bottom: 40px;
	position: relative;
	background: #fff;
	border: 2px solid;
}

.woocommerce .woocommerce-info:after {
	content: "\f05a";
	position: absolute;
	font-family: 'FontAwesome';
	left: 20px;
	top: 50%;
	margin-top: -24px;
	font-size: 28px;
}

.showlogin {
	font-weight: bold;
}
/* CUSTOM */

h6.subcategory {
	margin: 0px 0px 10px 0px;
}

ul.products div.col-xs-12 {
	padding-left: 10px;
	padding-right: 10px;
}

div.subcart p.total {
	background-color: transparent !important;
}

div.custom-info a {
	color: rgba(255, 255, 255, 0.5);
	-webkit-transition: none;
	-moz-transition: none;
	-ms-transition: none;
	-o-transition: none;
	transition: none;
}

div.custom-info span {
	-webkit-transition: none;
	-moz-transition: none;
	-ms-transition: none;
	-o-transition: none;
	transition: none;
}

div.custom-info  > a:hover {
	color: #32bfc0;
}

div.custom-info > a::focus {
	color: #32bfc0;
}

#mainnav-mobi ul > li > a:hover {
	/*background-color: #ffc952;*/
	background-color: #32bfc0;

}

.widget_shopping_cart_content .cart_list li .remove:hover {
	background-color: #dddddd;	
}

p.cart {
	margin-top: 10px;
}

span.name {
	font-size: 1.1em;
	line-height: 1.2em;
}
span.group-btn.mini_cart {
	margin-right: 75px;
}

span.group-btn.mini_cart > .button {
	padding: 0 6px;
	height: 20px !important;
	line-height: 20px;
}

a.button.more {
	color: white !important;
}
a.button.less {
	color: white !important;
}
span.paginator {
	margin-right: 5px;
	color: #32bfc0;
}


a.remove.basket{
  width: 24px;
  height: 24px;
  border: 2px solid rgba(0, 0, 0, 0.1);
  line-height: 20px;
  text-align: center;
  display: inline-block;
  color: #ccc;
  background: #fff;
}
a.remove.basket:hover{
	background-color: #21242b;
	color:white;
}


