ul.products div.col-xs-12 {
	padding-left: 10px;
	padding-right: 10px;
}

div.subcart p.total {
	background-color: transparent !important;
}

div.custom-info a {
	color: rgba(255, 255, 255, 0.5);
	-webkit-transition: none;
	-moz-transition: none;
	-ms-transition: none;
	-o-transition: none;
	transition: none;
}

div.custom-info span {
	-webkit-transition: none;
	-moz-transition: none;
	-ms-transition: none;
	-o-transition: none;
	transition: none;
}

div.custom-info  > a:hover {
	color: #32bfc0;
}

div.custom-info > a::focus {
	color: #32bfc0;
}

#mainnav-mobi ul > li > a:hover {
	/*background-color: #ffc952;*/
	background-color: #32bfc0;

}

.widget_shopping_cart_content .cart_list li .remove:hover {
	background-color: #dddddd;	
}

span.name {
	font-size: 1.1em;
	line-height: 1.2em;
}