{% extends 'layout.html' %}
{% load i18n %}

{% block title %}{% trans 'Password reset' %} | {{ block.super }}{% endblock %}

{% block breadcrumbs %}
    <div class="page-breadcrumbs">
        <div class="container">
            <div class="row">
                <div class="flat-wrapper">
                    <div class="breadcrumbs">
                        <h2 class="trail-browse">{% trans 'U bevindt zich hier:' %}</h2>
                        <ul class="trail-items">
                            <li class="trail-item"><a href="{% url 'promotions:home' %}">Home</a></li>
                            <li class="trail-item"><a href="{% url 'customer:summary' %}">Account</a></li>
                            <li>{% trans 'Password reset' %}</li>
                        </ul>
                    </div><!-- /.breadcrumbs -->
                </div><!-- /.flat-wrapper -->
            </div><!-- /.row -->
        </div><!-- /.container -->
    </div><!-- /.page-breadcrumbs -->
{% endblock breadcrumbs %}

{% block headertext %}{% trans "Password reset" %}{% endblock %}

{# yellow title block #}
{% block subheader_title %}
	{% trans "Password reset" as title %}
    {% include 'partials/page-title.html' with page_title=title %}
{% endblock %}


{% block content %}
	<div class="flat-row flat-general sidebar-right">
	    <div class="container">
	        <div class="row">
	        	<div class="general">
				    <form id="password_reset_form" action="." method="post">
				        {% csrf_token %}
				        <p>{% trans "Forgotten your password? Enter your e-mail address below, and we'll e-mail instructions for setting a new one." %}</p>
				        {% include 'partials/form_fields.html' with style='stacked' %}
				        <div class="form-group form-actions">
				            <button type="submit" class="button" data-loading-text="{% trans 'Sending...' %}">{% trans 'Send reset email' %}</button>
				        </div>
				    </form>
	        	</div>
        	</div>
    	</div>
	</div>
{% endblock %}