{% load i18n purchase_info_tags thumbnail currency_filters %}

<h4 class="widget-title">{% trans 'Winkelwagen Overzicht' %}</h4>
{% block order_contents %}
	{% for line in basket.all_lines %}
	<div class="row">
		<div class="col-sm-8">
			<span class="name">
				<strong>{{ line.description }}</strong>	
			</span>
			<br>
			<div class="row">
			</div>
        </div>
        <div class="col-sm-4">
	        {% with image=line.product.primary_image %}
	            {% thumbnail image.original "x155" upscale=False as thumb %}
	            <img src="{{ thumb.url }}">
	            {% endthumbnail %}
	        {% endwith %}
        </div>
	</div>
	<div class="row">
		<div class="col-sm-2 col-sm-offset-2">
			{{ line.quantity }} x
		</div>
		<div class="col-sm-4 text-right">
			{{ line.unit_price_incl_tax|currency:request.basket.currency }}&nbsp;&nbsp; = 
		</div>
		<div class="col-sm-4 text-right">
			{{ line.line_price_incl_tax|currency:request.basket.currency }}
		</div>
	</div>
	<hr>
	{% endfor %}
	<div class="row">
		<div class="col-sm-4 col-sm-offset-4 text-right">
			<strong>{% trans 'Totaal' %}:</strong>
		</div>
		<div class="col-sm-4">
			<p class="total text-right">
     			<span id="mini_cart_amount" class="amount">
     				<strong>{{ basket.total_incl_tax|currency:basket.currency }}</strong><br><br>
 				</span>
			</p>
		</div>
	</div>
{% endblock order_contents %}
<a class="button pull-right" href="{% url 'basket:summary' %}">Wijzigen</a>