<ul class="cd-accordion-menu animated">
  {% for tree_category, info in tree_categories %}
      <li {% if info.has_children %}class="has-children"{% else %}{% endif %}>

          {% if info.has_children %}
              <input type="checkbox" name="{{ tree_category.name|lower }}"
                      id="{{ tree_category.name|lower }}">
              <label for="{{ tree_category.name|lower }}">{{ tree_category.name|safe }}</label>
          {% else %}
              <a href="{{ tree_category.get_absolute_url }}">{{ tree_category.name|safe }}</a>
          {% endif %}
      </li>
  {% endfor %}
</ul>