{% extends 'customer/baseaccountpage.html' %}

{% load i18n %}

{% block breadcrumbs %}
    <div class="page-breadcrumbs">
        <div class="container">
            <div class="row">
                <div class="flat-wrapper">
                    <div class="breadcrumbs">
                        <h2 class="trail-browse">{% trans 'U bevindt zich hier:' %}</h2>
                        <ul class="trail-items">
                            <li class="trail-item"><a href="{% url 'promotions:home' %}">Home</a></li>
                            <li>{% trans 'Profiel' %}</li>
                        </ul>
                    </div><!-- /.breadcrumbs -->
                </div><!-- /.flat-wrapper -->
            </div><!-- /.row -->
        </div><!-- /.container -->
    </div><!-- /.page-breadcrumbs -->
{% endblock breadcrumbs %}

{% block tabcontent %}
<!-- <div class="flat-tabs">
    <ul class="menu-tabs">
        <li class="active"><a href="#">Protection</a></li>
        <li class=""><a href="#">Versatility</a></li>
        <li class=""><a href="#">Customized solutions</a></li>
    </ul>
    <div class="content-tab">
        <div class="content-inner">
            <p>First and foremost, transport packaging must serve to protect goods in transit. Given the nature of road and rail infrastructure, transport packaging should be manufactured so as to absorb unintended shocks, impacts or accidents of any kind, as well as protect against the elements such as humidity, excessive temperatures or heavy weather.</p>
        </div>

        <div class="content-inner">
            <p>Transport packaging must take into account the possibility of multiple stages in transit before the product reaches its final destination. This includes multiple off-loading, re-packaging, re-loading and possibly storage of the product(s). Transport packaging should thus be versatile enough to facilitate this process when necessary.</p>
        </div>
        <div class="content-inner">
            <p>Transport packaging should be as individual as the product itself and perfectly match the product’s consistency, size and dimensions. The focus here is on packaging that is lightweight, robust, easy to handle and that takes up as little space as possible.</p>
        </div>                                   
    </div>
</div> -->

<div class="widget widget_text information">
    <h3 class="widget-title">{% trans 'Persoonlijke Gegevens' %}</h3>
    <div class="textwidget">
        <p>
            <i class="fa fa-user"></i>  <strong>{{ user.get_full_name|default:'???' }}</strong><br>
            <i class="fa fa-envelope"></i> <strong>{{ user.email }}</strong><br>
            <i class="fa fa-calendar"></i> {% trans 'Geregistreerd op ' %} <strong>{{ user.date_joined|date:'d M Y' }}</strong>
        </p>
        <p>
            <a class="btn btn-primary" href="{% url 'customer:profile-update' %}"><b>{% trans 'Gegevens wijzigen' %}</b></a>
            <a class="btn btn-warning" href="{% url 'customer:profile-update' %}"><b>{% trans 'Wachtwoord Wijzigen' %}</b></a>
            <a id="delete_profile" class="btn btn-danger" href="{% url 'customer:profile-delete' %}"><b>{% trans 'Profiel Verwijderen' %}</b></a> 
        </p>
    </div>  
</div>
{% endblock %}