{% extends 'customer/baseaccountpage.html' %}

{% load i18n %}

{% block breadcrumbs %}
    <div class="page-breadcrumbs">
        <div class="container">
            <div class="row">
                <div class="flat-wrapper">
                    <div class="breadcrumbs">
                        <h2 class="trail-browse">{% trans 'U bevindt zich hier:' %}</h2>
                        <ul class="trail-items">
                            <li class="trail-item"><a href="{% url 'promotions:home' %}">Home</a></li>
                            <li>{% trans 'Profiel' %}</li>
                        </ul>
                    </div><!-- /.breadcrumbs -->
                </div><!-- /.flat-wrapper -->
            </div><!-- /.row -->
        </div><!-- /.container -->
    </div><!-- /.page-breadcrumbs -->
{% endblock breadcrumbs %}

{% block tabcontent %}
<div class="widget widget_text information">
    <h3 class="widget-title">{% trans 'Persoonlijke Gegevens' %}</h3>
    <div class="textwidget">
        <p>
            <i class="fa fa-user"></i>  <strong>{{ user.get_full_name|default:'???' }}</strong><br>
            <i class="fa fa-envelope"></i> <strong>{{ user.email }}</strong><br>
            <i class="fa fa-calendar"></i> {% trans 'Geregistreerd op ' %} <strong>{{ user.date_joined|date:'d M Y' }}</strong>
        </p>
        <p>
            <a class="btn btn-primary" href="{% url 'customer:profile-update' %}"><b>{% trans 'Gegevens wijzigen' %}</b></a>
            <a class="btn btn-warning" href="{% url 'customer:profile-update' %}"><b>{% trans 'Wachtwoord Wijzigen' %}</b></a>
            <a id="delete_profile" class="btn btn-danger" href="{% url 'customer:profile-delete' %}"><b>{% trans 'Profiel Verwijderen' %}</b></a> 
        </p>
    </div>  
</div>
{% endblock %}