{% extends 'layout.html' %}

{% load i18n widget_tweaks %}

{% block content %}
<div class="flat-row">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div id="flat-map">
			<div class="col-md-8 col-md-offset-2">
                <p>{% trans 'Vul onderstaand formulier in en wij nemen zo snel mogelijk contact op met jou!' %}</p>
                {% if messages %}
                    {% for message in messages %}
                    <div class="flat-woocommerce">
                        <div class="woocommerce-{% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}success{% else %}danger{% endif %}">
                            {{ message }}
                        </div>
                    </div>
                    {% endfor %}
                {% endif %}
                <form id="contactform" method="post" action="{% url 'contact' %}">
                	{% csrf_token %}
                    <div class="row">
                        <div class="col-md-6">
                            <p>
                                {% trans 'Naam' as name %}
                                {% render_field form.name placeholder=name %}
                            </p>
                            <p>
                                {% trans 'Email' as mail %}
                                {% render_field form.email placeholder=mail type='email' %}
                            </p>
                            <p>
                                {% trans 'Telefoonnummer' as phone %}
                                {% render_field form.phone placeholder=phone %}
                            </p>
                            <p>
                                {% trans 'Bedrijf (optioneel)' as company %}
                                {% render_field form.company placeholder=company %}
                            </p>
                        </div>
                        <div class="col-md-6">
                            <p>
                            {% trans 'Jouw vraag of boodschap' as message %}
                            {% render_field form.message placeholder=message rows='50' %}                      
                            </p>
                            <span class="form-submit"><input name="submit" type="submit" id="submit" class="submit" value="{%  trans 'Verzenden' %}">
                            </span>
                        </div>
                    </div>
                </form>
            </div>
        </div>    
      </div>
    </div>
  </div>
</div>
{% endblock content %}