{% extends 'layout.html' %}

{% load i18n %}

{# yellow title block #}
{% block subheader_title %}
	{% trans 'Permission denied!' as error %}
    {% include 'partials/page-title.html' with page_title=error %}
	
{% endblock %}

{% block content %}

<div class="flat-row">
  	<div class="container">
    	<div class="row">
      		<div class="col-md-12">
        		<div id="flat-map">
					<div class="col-md-8 col-md-offset-2">
				        <div class="flat-woocommerce">
				            <div class="woocommerce-danger">
				                <strong>{% trans 'Permission denied!' %}</strong>
				                {% block error_message %}{% endblock %}
				            </div>
				        </div>
						<a class="button black" onclick="javascript:history.go(-1);">{% trans 'Return to previous page' %}</a>
	        			<a class="button" href="{{ homepage_url }}">{% trans "Go to homepage" %}</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock %}