{% extends 'base.html' %}
{% load i18n staticfiles promotion_tags%}

{% block styles %}
    {% comment %}
        If you are developing Oscar's CSS, or overriding Oscar's CSS
        files in your project, then set USE_LESS = True in your
        settings file. This will enable the on-the-fly less compiler.
    {% endcomment %}
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'oscar/js/bootstrap-datetimepicker/bootstrap-datetimepicker.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'oscar/css/datetimepicker.css' %}" />
    <!-- CANAVA TEMPLATE CSS-->
    <link rel="stylesheet" type="text/css" href="{% static 'css/canava.css' %}">
    <!-- CANAVA: Responsive -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/responsive.css' %}">

    <!-- CUSTOM STYLES -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/custom.css' %}">
{% endblock %}

{% block layout %}
    {# Top-horizontal bar with account, notifictions, dashboard links #}
    {# include "partials/nav_accounts.html" #}

    <div class="boxed">
        {% block header %}
            {% include 'partials/header.html' %}
        {% endblock header %}
        {% block subheader_title %}
            {% include 'partials/page-title.html' with page_title=page_title %}
        {% endblock subheader_title  %}
        {% block breadcrumbs %}
        {% endblock breadcrumbs %}
        {% block content %}
            {% block product_list %}
            {% endblock product_list %}
        {% endblock content %}
        <!-- Footer -->
        <footer class="footer">
            {% include 'partials/footer.html' %}            
        </footer>
    </div>
{% endblock %}

{% block cdn_scripts %}
  {{ block.super }}
  {% if use_less and debug %}
    {# Load the on-the-fly less compiler. Never do this in production. #}
    <script src="//cdnjs.cloudflare.com/ajax/libs/less.js/2.5.3/less.min.js"></script>
  {% endif %}
{% endblock %}

{# Local scripts #}
{% block scripts %}
    {{ block.super }}
    <!-- Twitter Bootstrap -->
    <script type="text/javascript" src="{% static 'oscar/js/bootstrap3/bootstrap.min.js' %}"></script>
    <!-- CANAVA: parallax title -->
    <script type="text/javascript" src="{% static 'js/parallax.js' %}"></script>
    <!-- Oscar -->
    <script src="{% static 'oscar/js/oscar/ui.js' %}" type="text/javascript" charset="utf-8"></script>

    <script src="{% static 'oscar/js/bootstrap-datetimepicker/bootstrap-datetimepicker.js' %}" type="text/javascript" charset="utf-8"></script>
    <script src="{% static 'oscar/js/bootstrap-datetimepicker/locales/bootstrap-datetimepicker.all.js' %}" type="text/javascript" charset="utf-8"></script>
    <!-- REAL PYTHON SCRIPT: For django CSRF token -->
    <script type="text/javascript" src="{% static 'plugins/realpython/csrf_protection.js' %}"></script>
    <!-- MATCH HEIGHT: Equal height containers -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.matchHeight/0.7.0/jquery.matchHeight-min.js"></script>
{% endblock %}

{% block extrascripts %}
    {% include "partials/extrascripts.html" %}
    {{ block.super }}
<!-- CUSTOM: Language Selection code -->
    <script type="text/javascript">
        $('a.language_selector').on('click', function(event){
            event.preventDefault();

            var language = $(this).data('language');
            var url = $(this).parent('form').attr('action');
            var next = $('#next_page').val();
            var data = {'language': language, 'next':next};

            $.ajax({
                url: url,
                type: 'POST',
                data : { 'language' : language, 'next': next },
                success: function(data){
                    location.reload(); // Refresh pagina na succesvol POST request (language cookie is nu up to date)
                },
                error: function(xhr, ajaxOptions, thrownError) {
                    console.log(xhr.status);
                    alert(thrownError);
                }         
            });
        })
    </script>
<!-- Search input field for header -->
    <script type="text/javascript">
        var flatSearch = function () {
            $(document).on('click', function(e) {   
                var clickID = e.target.id;   
                if ( ( clickID != 's' ) ) {
                    $('.top-search').removeClass('show');                
                } 
            });

            $('.search-box').on('click', function(event){
                event.stopPropagation();
            });

            $('.search-form').on('click', function(event){
                event.stopPropagation();
            });        

            $('.search-box').on('click', function () {
                if(!$('.top-search').hasClass( "show" ))
                    $('.top-search').addClass('show');
                else
                    $('.top-search').removeClass('show');
            });
        } 
    </script>
<!-- Responsive menu voor smartphones -->
    <script type="text/javascript">

        var responsiveMenu = function() {
            var menuType = 'desktop';

            $(window).on('load resize', function() {
                var currMenuType = 'desktop';
                if ( matchMedia( 'only screen and (max-width: 991px)' ).matches ) {
                    currMenuType = 'mobile';
                }

                if ( currMenuType !== menuType ) {
                    menuType = currMenuType;

                    if ( currMenuType === 'mobile' ) {
                        var $mobileMenu = $('#mainnav').attr('id', 'mainnav-mobi').hide();
                        var hasChildMenu = $('#mainnav-mobi').find('li:has(ul)');

                        $('.mega-menu .mega-menu-sub').hide();
                        $('.has-mega-menu .submenu.mega-menu').hide();

                        $('#header').after($mobileMenu);
                        hasChildMenu.children('ul').hide();
                        hasChildMenu.children('a:not(.has-mega)').after('<span class="btn-submenu"></span>');
                        $('.btn-menu').removeClass('active');
                    } else {
                        var $desktopMenu = $('#mainnav-mobi').attr('id', 'mainnav').removeAttr('style');

                        $desktopMenu.find('.submenu').removeAttr('style');
                        $('#header').find('.nav-wrap').append($desktopMenu);
                        $('.btn-submenu').remove();
                    }
                }
            });

        $('.btn-menu').on('click', function() {         
            $('#mainnav-mobi').slideToggle(300);
            $(this).toggleClass('active');
        });

        // Mega menu click
        if ( matchMedia( 'only screen and (max-width: 991px)' ).matches ) {
            $('.btn-mega').on('click', function() {      
                $(this).parent('.mega-title').siblings().slideToggle(300);   
                $(this).toggleClass('active');
            });

            $('.has-mega').on('click', function() {      
                $(this).siblings().slideToggle(300);  
                $(this).toggleClass('active');
            });
        }        

        $(document).on('click', '#mainnav-mobi li .btn-submenu', function(e) {
            $(this).toggleClass('active').next('ul').slideToggle(300);
            e.stopImmediatePropagation()
        });

    }

        var headerFixed = function() {    
            if ( $('body').hasClass('header-sticky') ) {
                var hd_height = $('#header').height();           
                $(window).on('load scroll', function(){                
                    if ( $(window).scrollTop() >  37 ) {
                        $('#header').addClass('downscrolled');                      
                    } else {                    
                        $('#header').removeClass('downscrolled');                   
                    }
                    if( $(window).scrollTop() > 37 ) {
                        $('#header').addClass('upscrolled');                    
                    } else {
                        $('#header').removeClass('upscrolled');                    
                    }
                })            
            }   
        }
        $(function() { 
            if ( matchMedia( 'only screen and (min-width: 991px)' ).matches ) {
                headerFixed();
            }
            responsiveMenu();
            flatSearch(); 
        });
    </script>
<!-- Header basket functionaliteit -->
    <script type="text/javascript">
        $('a.basket-edit').on('click', function(){

            console.log('Edit line!');
            console.log($(this).parents('li.mini_cart_item').data('update-url'));

            var url = $(this).parents('li.mini_cart_item').data('update-url');
            var method = '';
            var data = '';
            var itemToRemove = null;
            var currentLine = $(this).parents('li.mini_cart_item');
            var currentAmount = $(this).parent().data('quantity');

            if ($(this).hasClass('remove')) {
                itemToRemove = currentLine;
                method = 'DELETE';
            }
            else {
                method = 'PUT';

                if ($(this).hasClass('less') ){
                    currentAmount = currentAmount - 1;

                    // Need to remove line if currentAmount has dropped to zero
                    if (currentAmount == 0) {
                        method = 'DELETE';
                        itemToRemove = currentLine;
                    }

                }
                else {
                    currentAmount = currentAmount + 1;
                }
                data = {'quantity': currentAmount};
                $(this).parent().data('quantity', currentAmount);
            }

            $.ajax({
                url: url,
                type: method,
                data: data,
                dataType:'json',
                success: handler,
                error: function(xhr, ajaxOptions, thrownError) {
                    console.log(xhr.status);
                    alert(thrownError);
                }
            });
            function removeLine(itemToRemove) {
                itemToRemove.remove();
            }
            function updateLineAmount(amount) {

                currentLine.find('span.line-quantity').text(amount);
            }

            function handler(data) {
                // 1. remove item from Mini cart

                if (itemToRemove) {
                    removeLine(itemToRemove);
                }

                else {
                    updateLineAmount(data.quantity);
                }

                // 2. update total purchase amount
                $.ajax({
                    url: "{% if basket.pk %}{% url 'basket-detail' basket.pk %}{% elif request.basket.pk %}{% url 'basket-detail' request.basket.pk %}{% else %}SCHEISSE{% endif %}",
                    type: 'GET',
                    dataType: 'json',
                    success: updateTotal,
                    error: function(xhr, ajaxOptions, thrownError) {
                        console.log(xhr.status);
                        alert(thrownError);
                    }
                });

                function updateTotal(data) {
                    //console.log(data);
                    var amount = data['total_incl_tax'];

                    if(amount == 0) {
                        $('div.subcart').html('<ul class="cart_list product_list_widget"><li class="mini_cart_item"><p>Je hebt geen producten in je winkelmand!</p></li></ul><div class="group-btn"><a class="button" href="{% url "catalogue:index" %}">{% trans "Naar shop" %}</a></div>');
                        //$('div.subcart').css('visibility', 'hidden')
                    }
                    else {
                        $('span#mini_cart_amount').text('€ ' + amount);
                    }
                }

                // 3. Update bagde on cart icon and 
                $.ajax({
                    url:  "{% if basket.pk %}{% url 'basket-lines-list' basket.pk %}{% elif request.basket.pk %}{% url 'basket-lines-list' request.basket.pk %}{% else %}SCHEISSE{% endif %}",
                    type: 'GET',
                    dataType: 'json',
                    success: updateBadge,
                     error: function(xhr, ajaxOptions, thrownError) {
                        console.log(xhr.status);
                        alert(thrownError);
                    }
                });
                function updateBadge(data) {
                    //console.log(data);

                    numLines = data.length;
                    //console.log(dict.length);
                    $('span#nav-cart').text(numLines);
                }               
            } 
        });
    </script>
<!-- FLAT TABS -->
    <script type="text/javascript">
        var flatTabs = function () {
            $('.flat-tabs').each(function() {

                $(this).children('.content-tab').children().hide();
                $(this).children('.content-tab').children().first().show();

                $(this).find('.menu-tabs').children('li').on('click', function(e) {
                    var liActive = $(this).index(),
                        contentActive = $(this).siblings().removeClass('active').parents('.flat-tabs').children('.content-tab').children().eq(liActive);

                    contentActive.addClass('active').fadeIn('slow');
                    contentActive.siblings().removeClass('active');
                    $(this).addClass('active').parents('.flat-tabs').children('.content-tab').children().eq(liActive).siblings().hide();
                    e.preventDefault();
                });
            });
        };
    </script>
{% endblock extrascripts %}

{% block onbodyload %}
    {{ block.super }}
    oscar.init();
{% endblock %}

