{% extends 'layout.html' %}

{% load basket_tags promotion_tags product_tags i18n history_tags %}

{% block title %}
    {% if summary %}{{ summary }} |{% endif %} {{ block.super }}
{% endblock %}

{% block headertext %}{{ summary }}{% endblock %}

{# yellow title block #}
{% block subheader_title %}
    {% include 'partials/page-title.html' with page_title='shop' %}
{% endblock %}

{% block breadcrumbs %}
	<div class="page-breadcrumbs">
	    <div class="container">
	        <div class="row">
	            <div class="flat-wrapper">
	                <div class="breadcrumbs">
	                    <h2 class="trail-browse">{% trans 'U bevindt zich hier:' %}</h2>
	                    <ul class="trail-items">
	                        <li class="trail-item"><a href="{% url 'promotions:home' %}">Home</a></li>
	                        <li>{% trans 'Producten' %}</li>
	                    </ul>
	                </div><!-- /.breadcrumbs -->
	            </div><!-- /.flat-wrapper -->
	        </div><!-- /.row -->
	    </div><!-- /.container -->
	</div><!-- /.page-breadcrumbs -->
{% endblock breadcrumbs %}


{% block product_list %}
{% if products %}
<div class="flat-row flat-woocommerce flat-general sidebar-right">
    <div class="container">
        <div class="row">
            <div class="general"> 
                <div class="woocommerce">
                    {% include 'catalogue/partials/search_input.html' %}
                   	<ul class="products">
	                    <div class="row">
	                    	{% for product in products %}
	                    		{% render_product product %}
	                    	{% endfor %}
	                    </div>
                    </ul><!-- /.products -->
                    {% include 'catalogue/partials/pagination.html' with paginator=paginator page_obj=page_obj %}
                </div><!-- /.woocommerce -->
            </div><!-- /.general -->

            <div class="general-sidebars">
                <div class="sidebar-wrap">
                    <div class="sidebar">                               
                    	{% block categories %}
                            {% include 'catalogue/partials/category_overview.html' %}
                    	{% endblock categories %}
                        {% block recently_viewed %}
                            {% recently_viewed_products current_product=product %}
                        {% endblock recently_viewed %}

<!--                         <div class="widget widget_tag_cloud">
                            <h4 class="widget-title">Product tags</h4>
                            <div class="tagcloud">
                                <a href="#">Blue</a>
                                <a href="#">Hitch</a>
                                <a href="#">Horn</a>
                                <a href="#">Led</a>
                                <a href="#">Metro</a>
                                <a href="#">Smittybilt</a>
                                <a href="#">Tow</a>
                            </div>
                        </div> -->
                    </div><!-- /.sidebar -->
                </div><!-- /.sidebar-wrap -->
            </div><!-- /.general-sidebars -->
        </div><!-- /.row -->
    </div><!-- /.container -->
</div>
{% endif %}

{% endblock product_list %}


{% block onbodyload %}
    {{ block.super }}
    oscar.search.init();
    $('div.product-info-wrap>h3').matchHeight();
{% endblock %}

