{% extends 'layout.html' %}

{% load basket_tags promotion_tags product_tags i18n history_tags %}

{% block title %}
    {% if summary %}{{ summary }} |{% endif %} {{ block.super }}
{% endblock %}

{% block headertext %}{{ summary }}{% endblock %}

{# yellow title block #}
{% block subheader_title %}
    {% include 'partials/page-title.html' with page_title='shop' %}
{% endblock %}

{% block breadcrumbs %}
	<div class="page-breadcrumbs">
	    <div class="container">
	        <div class="row">
	            <div class="flat-wrapper">
	                <div class="breadcrumbs">
	                    <h2 class="trail-browse">{% trans 'U bevindt zich hier:' %}</h2>
	                    <ul class="trail-items">
	                        <li class="trail-item"><a href="{% url 'promotions:home' %}">Home</a></li>
	                        <li>{% trans 'Producten' %}</li>
	                    </ul>
	                </div><!-- /.breadcrumbs -->
	            </div><!-- /.flat-wrapper -->
	        </div><!-- /.row -->
	    </div><!-- /.container -->
	</div><!-- /.page-breadcrumbs -->
{% endblock breadcrumbs %}


{% block product_list %}
{% if products %}
<div class="flat-row flat-woocommerce flat-general sidebar-right">
    <div class="container">
        <div class="row">
            <div class="general"> 
                <div class="woocommerce">
                    {% include 'catalogue/partials/search_input.html' %}
                   	<ul class="products">
	                    <div class="row">
	                    	{% for product in products %}
	                    		{% render_product product %}
	                    	{% endfor %}
	                    </div>
                    </ul><!-- /.products -->
                    {% include 'catalogue/partials/pagination.html' with paginator=paginator page_obj=page_obj %}
                </div><!-- /.woocommerce -->
            </div><!-- /.general -->
            <div class="general-sidebars">
                <div class="sidebar-wrap">
                    <div class="sidebar">  
                            <div class="flat-accordion style">
                            <div class="flat-toggle">
                                <h6 class="toggle-title">A Complete Transportation Solution</h6>
                                <div class="toggle-content">
                                    <p>Canava Transport is synonymous with transportation management. Our complete and scaleable service of transportation procurement and administration ensures safe delivery of your freight on-time, every-time.</p>
                                </div><!-- /.toggle-content -->
                            </div><!-- /.flat-toggle -->

                            <div class="flat-toggle">
                                <h6 class="toggle-title active">Clear Customer Value</h6>
                                <div class="toggle-content">
                                    <p>Canava Transport offers an effective suite of transportation services while bringing scale efficiencies to your business. We do this by leveraging our large volume and established contracts with a national network of carriers enabling our rates and service levels to rival any industry provider.</p>
                                    <p>Our solutions include centralized visibility to track and trace data and standardized operating procedures.&nbsp; Transport providers achieve higher asset utilization and the savings are passed on to you. Performance standards are written into every carrier contract, leaving no guesswork about our customer requirements.</p>
                                </div><!-- /.toggle-content -->
                            </div><!-- /.flat-toggle -->                            

                            <div class="flat-toggle">
                                <h6 class="toggle-title">Experience Matters</h6>
                                <div class="toggle-content">
                                    <p>Our experienced team of logistics professionals crosses all functional areas, including operations, finance, load planning, dispatch, customer service, and carrier management. From consolidating loads across clients to managing shipments, our team finds every way to improve your logistics operations both efficiently and effectively.</p>
                                </div><!-- /.toggle-content -->
                            </div><!-- /.flat-toggle -->

                            <div class="flat-toggle">
                                <h6 class="toggle-title">Need more information?</h6>
                                <div class="toggle-content">
                                    <p>Contact our sales or customer service departments to get started.</p>
                                    <p>Sales (+ 012) 222 989899 &nbsp;&nbsp;&nbsp;&nbsp; Customer Service (+ 012) 333 989999</p>
                                </div><!-- /.toggle-content -->
                            </div><!-- /.flat-toggle -->
                        </div>
 <!--                                <div class="flat-testimonial">
                                    <div class="testimonial-meta">            
                                        <div class="testimonial-image">
                                            <img src="images/testimonials/star.png" alt="images">
                                        </div>
                                        <div class="testimonial-author">
                                            <strong class="author-name">Douglas Amundson Trucking, Inc.</strong>
                                            <div class="author-info"></div>
                                        </div>
                                    </div>
                                    <div class="testimonial-content">
                                        <blockquote>
                                            I have been loading our trucks for years now with Canava Transport and I have found them to be very easy and accommodating to work with. I hope to be able to do a lot more business with them in the future as they continue to impress with their honesty and availability of loads.
                                        </blockquote>
                                    </div>
                                </div> -->                             
                    	{% block categories %}
                            {% include 'catalogue/partials/category_overview.html' %}
                    	{% endblock categories %}
                        {% block recently_viewed %}
                            {% recently_viewed_products current_product=product %}
                        {% endblock recently_viewed %}
                    </div><!-- /.sidebar -->
                </div><!-- /.sidebar-wrap -->
            </div><!-- /.general-sidebars -->
        </div><!-- /.row -->
    </div><!-- /.container -->
</div>
{% endif %}

{% endblock product_list %}

{% block onbodyload %}
    {{ block.super }}
    oscar.search.init();
    $('div.product-info-wrap>h3').matchHeight();
{% endblock %}

