{% extends "layout.html" %}

{% load basket_tags promotion_tags category_tags product_tags i18n %}

{% block title %}
    {% if summary %}{{ summary }} |{% endif %} {{ block.super }}
{% endblock %}

{% block headertext %}{{ summary }}{% endblock %}

{# yellow title block #}
{% block subheader_title %}
    {% include 'partials/page-title.html' with page_title='shop' %}
{% endblock %}

{% block breadcrumbs %}
	<div class="page-breadcrumbs">
	    <div class="container">
	        <div class="row">
	            <div class="flat-wrapper">
	                <div class="breadcrumbs">
	                    <h2 class="trail-browse">{% trans 'U bevindt zich hier:' %}</h2>
	                    <ul class="trail-items">
	                        <li class="trail-item"><a href="{% url 'promotions:home' %}">Home</a></li>
	                        <li>{% trans 'Producten' %}</li>
	                    </ul>
	                </div><!-- /.breadcrumbs -->
	            </div><!-- /.flat-wrapper -->
	        </div><!-- /.row -->
	    </div><!-- /.container -->
	</div><!-- /.page-breadcrumbs -->
{% endblock breadcrumbs %}


{% block product_list %}
{% if products %}
<div class="flat-row flat-woocommerce flat-general sidebar-right">
    <div class="container">
        <div class="row">
            <div class="general"> 
                <div class="woocommerce">
                   	<ul class="products">
	                    <div class="row">
	                    	{% for product in products %}
	                    		{% render_product product %}
	                    	{% endfor %}
	                    </div>
                    </ul><!-- /.products -->
                    <div class="row">
	                    <div class="navigation paging-navigation numeric">
	                        <div class="flat-pagination loop-pagination">
	                            <span class="page-numbers current">1</span>
	                            <a class="page-numbers" href="#">2</a>
	                            <a class="page-numbers" href="#">&#8594;</a>
	                        </div><!-- /.flat-pagination -->
	                    </div><!-- /.navigation .paging-navigation .numeric -->	
                    </div>
                </div><!-- /.woocommerce -->
            </div><!-- /.general -->

            <div class="general-sidebars">
                <div class="sidebar-wrap">
                    <div class="sidebar">                               

                        <div class="widget widget_product_categories">
                            <h4 class="widget-title">{% trans 'Categoriëen' %}</h4>
                            <ul class="product-categories">
                 	{% category_tree as tree_categories %}
                 		{% if tree_categories %}
                        	{% for tree_category, info in tree_categories %}
                        		<li>
                        			<a href="{{ tree_category.get_absolute_url }}">{{ tree_category.name|title }}</a>
                        		</li>
                        	{% endfor %}
                        {% endif %}
                            </ul>
                        </div><!-- /.widget_product_categories -->

                        <div class="widget widget_price_filter">
                            <div class="price_filter">
                                <form>
                                    <div class="price_slider_wrapper">
                                        <div class="price_slider ui-slider"></div>
                                    </div>
                                </form>
                                <div class="price_slider_amount">
                                    <div class="price_label">   
                                        <label>Price :</label>
                                        <input type="text">
                                    </div>
                                    <button class="button" type="submit">Filter</button>
                                </div>
                            </div>
                        </div><!-- /.widget_price_filter -->

                        <div class="widget widget_products">
                            <h4 class="widget-title">Featured Products</h4>
                            <ul class="product_list_widget">
                                <li>
                                    <a href="shop-detail.html">
                                        <img src="images/products/f1.jpg" alt="images">
                                        <span class="product-title">Rigid industries RI series</span>
                                    </a>
                                    <span class="amount">£85.49</span>
                                </li>
                                <li>
                                    <a href="shop-detail.html">
                                        <img src="images/products/f2.jpg" alt="images">
                                        <span class="product-title">Rigid industries midnight</span>
                                    </a>
                                    <span class="amount">£189.99</span>
                                </li>
                                <li>
                                    <a href="shop-detail.html">
                                        <img src="images/products/f3.jpg" alt="images">
                                        <span class="product-title">Metro vac n' blo 500</span>
                                    </a>
                                    <span class="amount">£94.99</span>
                                </li>
                            </ul>
                        </div><!-- /.widget_products -->

                        <div class="widget widget_tag_cloud">
                            <h4 class="widget-title">Product tags</h4>
                            <div class="tagcloud">
                                <a href="#">Blue</a>
                                <a href="#">Hitch</a>
                                <a href="#">Horn</a>
                                <a href="#">Led</a>
                                <a href="#">Metro</a>
                                <a href="#">Smittybilt</a>
                                <a href="#">Tow</a>
                            </div>
                        </div><!-- /.widget_tag_cloud -->

                    </div><!-- /.sidebar -->
                </div><!-- /.sidebar-wrap -->
            </div><!-- /.general-sidebars -->
        </div><!-- /.row -->
    </div><!-- /.container -->
</div>
{% endif %}

{% endblock product_list %}


{% block onbodyload %}
    {{ block.super }}
    oscar.search.init();
{% endblock %}