{% extends "catalogue/browse.html" %}

{% load i18n %}

{% block breadcrumbs %}
	<div class="page-breadcrumbs">
	    <div class="container">
	        <div class="row">
	            <div class="flat-wrapper">
	                <div class="breadcrumbs">
	                    <h2 class="trail-browse">{% trans 'U bevindt zich hier:' %}</h2>
	                    <ul class="trail-items">
	                        <li class="trail-item"><a href="{% url 'promotions:home' %}">Home</a></li>
	                        <li class="trail-item"><a href="{% url 'catalogue:index' %}">{% trans 'Producten' %}</a></li>
				        {% for category in category.get_ancestors %}
				            <li class="trail-item"><a href="{{ category.get_absolute_url }}">{{ category.name }}</a></li>
				        {% endfor %}
	                        <li class="trail-item">{{ category.name }}</li>
	                    </ul>
	                </div><!-- /.breadcrumbs -->
	            </div><!-- /.flat-wrapper -->
	        </div><!-- /.row -->
	    </div><!-- /.container -->
	</div><!-- /.page-breadcrumbs -->
{% endblock breadcrumbs %}

{% block categories %}
    {% include 'catalogue/partials/subcategory_overview.html' %}
{% endblock categories %}
