{% extends 'catalogue/browse.html' %}

{% load i18n %}

{% block breadcrumbs %}
	<div class="page-breadcrumbs">
	    <div class="container">
	        <div class="row">
	            <div class="flat-wrapper">
	                <div class="breadcrumbs">
	                    <h2 class="trail-browse">{% trans 'U bevindt zich hier:' %}</h2>
	                    <ul class="trail-items">
	                        <li class="trail-item"><a href="{% url 'promotions:home' %}">Home</a></li>
	                        <li class="trail-item"><a href="{% url 'catalogue:index' %}">{% trans 'Producten' %}</a></li>
                	{% get_current_language as LANGUAGE_CODE %}
				        {% for category in category.get_ancestors %}
				        	{% if category.name == '2CV Onderdelen' and LANGUAGE_CODE == 'nl' %}
				            <li class="trail-item"><a href="{{ category.get_absolute_url }}">{{ category.name }}</a></li>
				        	{% elif category.name == '2CV Onderdelen' and LANGUAGE_CODE == 'fr' %}
				            <li class="trail-item"><a href="{{ category.get_absolute_url }}">Pièces 2CV</a></li>
				            {% else %}
				            <li class="trail-item"><a href="{{ category.get_absolute_url }}">{{ category.name }}</a></li>	            
				        	{% endif %}
				        {% endfor %}
				        	{% if LANGUAGE_CODE == 'nl' %}
				            <li class="trail-item">{{ category.name_nl }}</li>
				        	{% elif LANGUAGE_CODE == 'fr' %}
				            <li class="trail-item">{{ category.name_fr }}</li>	            
				        	{% endif %}
	                    </ul>
	                </div>
	            </div>
	        </div>
	    </div>
	</div>
{% endblock breadcrumbs %}

{% block categories %}
    {% include 'catalogue/partials/subcategory_overview.html' %}
{% endblock categories %}
