{% extends 'catalogue/browse.html' %}

{% load history_tags currency_filters reviews_tags staticfiles product_tags display_tags i18n purchase_info_tags thumbnail %}

{% block title %}
    {{ product.title }} | {{ block.super }}
{% endblock %}

{% block description %}
    {{ product.description|default:""|striptags }}
{% endblock %}

{% block breadcrumbs %}
    <div class="page-breadcrumbs">
        <div class="container">
            <div class="row">
                <div class="flat-wrapper">
                    <div class="breadcrumbs">
                        <h2 class="trail-browse">{% trans 'U bevindt zich hier:' %}</h2>
                        <ul class="trail-items">
                            <li class="trail-item"><a href="{% url 'promotions:home' %}">Home</a></li>
                            <li class="trail-item"><a href="{% url 'catalogue:index' %}">{% trans 'Producten' %}</a></li>
                    {% with category=product.categories.all.0 %}
                        {% for category in category.get_ancestors_and_self %}
                            {% get_current_language as LANGUAGE_CODE %}
                            {% if LANGUAGE_CODE == 'nl' %}
                            <li class="trail-item">
                                <a href="{{ category.get_absolute_url }}">{{ category.name_nl }}</a>
                            </li>
                            {% elif LANGUAGE_CODE == 'fr' %}
                            <li class="trail-item">
                                <a href="{{ category.get_absolute_url }}">{{ category.name_fr }}</a>
                            </li>                
                            {% endif %}
                        {% endfor %}
                    {% endwith %}
                            <li class="trail-item">{{ product.title|capfirst }}</li>
                        </ul>
                    </div><!-- /.breadcrumbs -->
                </div><!-- /.flat-wrapper -->
            </div><!-- /.row -->
        </div><!-- /.container -->
    </div><!-- /.page-breadcrumbs -->
{% endblock breadcrumbs %}


{% block content %}
<div class="flat-row flat-woocommerce flat-general sidebar-right">
    <div class="container">
        <div class="row">
            <div class="general"> 
                <div class="products-detail">
                {% with all_images=product.images.all %}
                    {% with image=product.primary_image %}
                    <div class="products-images">
                        <a class="popup-gallery" href="{{ image.original.url }}">
                            {% thumbnail image.original "500x500" upscale=False as thumb %}
                            <img src="{{ thumb.url }}" alt="{{ product.get_title }}">
                            {% endthumbnail %}
                        </a>
                    </div>
                    {% endwith %}
                {% endwith %}
                    <div class="summary">
                        <div class="description">
                            <h4>{{ product.title|capfirst }}</h4>
                            <!-- <p>{% trans 'Geen beschrijving opgegeven' %}</p> -->
                        </div>
                        <div>
                    {% purchase_info_for_product request product as session %}
                    {% if session.price.exists %}
                        {% if session.price.excl_tax == 0 %}
                            <p class="price"><span class="amount">{% trans 'Gratis' %}</span></p>
                        {% elif session.price.is_tax_known %}
                            <p class="price" style="margin-bottom: 0px;">
                                <span class="amount">
                                    {{ session.price.incl_tax|currency:session.price.currency }}
                                </span>
                            </p>
                            {% trans 'BTW incl.' %}
                        {% else %}
                            <p class="price">
                                <span class="amount">
                                    {{ session.price.excl_tax|currency:session.price.currency }} 
                                </span>
                            </p>
                            {% trans 'BTW excl.' %}
                        {% endif %}
                    {% else %}
                            <p class="price"><span class="amount">&nbsp;</span></p>                        
                    {% endif %}
                        </div>
                        <!-- Add To Basket Form -->
                        {% include 'catalogue/partials/add_to_basket_form.html' %}
                    </div><!-- /.summary -->
                </div>
                <div class="products-detail">
 <!--                    <div class="flat-tabs" style="clear: left;">
                        <ul class="menu-tabs">
                            <li class="active">
                                <a href="#">{% trans 'kenmerken' %}</a>
                            </li>
                        </ul>
                        <div class="content-tab">
                            <div class="content-inner active" style="display: block;">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                                cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                                proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                            </div>                                    
                        </div>
                    </div> -->
            {% with recommended_products=product.recommended_products.all|slice:":3"%}
                {% if recommended_products %}
                    <div class="related_products woocommerce">
                        <h4 class="flat-title-section style">{% trans 'Gerelateerde producten' %}</h4>
                    {% for product in recommended_products %}
                        {% include 'partials/recommended_products.html' %}
                    {% endfor %}
                    </div>
                {% endif %}
            {% endwith %}
                </div>
            </div>
            <div class="general-sidebars">
                <div class="sidebar-wrap">
                    <div class="sidebar">                               
                        {% block categories %}
                            {% include 'catalogue/partials/subcategory_overview.html' with category=product.categories.all.0 %}
                        {% endblock categories %}
                        {% block recently_viewed %}
                            {% recently_viewed_products current_product=product %}
                        {% endblock recently_viewed %}
                    </div><!-- /.sidebar -->
                </div><!-- /.sidebar-wrap -->
            </div><!-- /.general-sidebars -->
        </div>
    </div><!-- /.container -->
</div>

{% endblock content %}

{% block extrascripts %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
    <script type="text/javascript">
        ;(function($) {
            var popupGallery = function () {
                $('.flat-row').each(function() {
                    if ( $('a').hasClass('popup-gallery') ) {                
                         $(".popup-gallery").magnificPopup({
                            type: "image",
                            tLoading: "Loading image #%curr%...",
                            removalDelay: 600,
                            mainClass: "my-mfp-slide-bottom",
                            gallery: {
                                enabled: true,
                                navigateByImgClick: true,
                                preload: [ 0, 1 ]
                            },
                            image: {
                                tError: '<a href="%url%">The image #%curr%</a> could not be loaded.'
                            }
                        });
                    }
                });       
            }
            // Dom Ready
            $(function() { 
                popupGallery();
            });
        })(jQuery);
    </script>
{% endblock %}