{% extends 'checkout/layout.html' %}

{% load i18n %}

{% block content %}
	{% block shipping_address %}
		{% if shipping_address %}				
			{{ shipping_address.line1 }}<br>
			{{ shipping_address.postcode }} {{ shipping_address.line4 }}<br>
			{{ shipping_address.country }}<br>
		{% endif %}
        {% if shipping_method %}
            <div class="well well-info">
                {% block shipping_method_actions %}
                    <a href="{% url 'checkout:shipping-method' %}" class="pull-right">
                        {% trans "Change" %}
                    </a>
                {% endblock %}
                <h3>{% trans "Shipping method" %}</h3>
                <p>{{ shipping_method.name }}
                    {% if shipping_method.description %}
                        - {{ shipping_method.description|safe }}
                    {% endif %}
                </p>

            </div>
        {% endif %}
	{% endblock shipping_address %}
    {% block shipping_method %}
    {% endblock shipping_method %}
{% endblock content %}