{% extends "checkout/checkout.html" %}
{% load i18n %}

{% block title %}
    {% trans "Payment details" %} | {{ block.super }}
{% endblock %}

{% block checkout_nav %}
    {% include 'checkout/nav.html' with step=3 %}
{% endblock %}

{% block checkout_title %}{% trans "Enter payment details" %}{% endblock %}

{% block order_contents %}{% endblock %}
{% block shipping_method %}{% endblock %}
{% block payment_method %}{% endblock %}

{% block content %}
<div id="content_inner" class="flat-row flat-woocommerce flat-general sidebar-right">
    <div class="container">
        <div class="row">
            <div class="general">
                <h3 class="flat-title-section style">
                    <span>{% trans 'Payment details' %}</span>
                </h3> 
        {% block payment_details %}
            {% block payment_details_content %}
                <div class="col-sm-6">
                    <p>
                    {% trans 'Automatische betalingen zijn op dit moment nog niet mogelijk, wij werken eraan om dit naar de toekomst toe mogelijk te maken' %}
                    </p>
                    <a id="view_preview" href="{% url 'checkout:preview' %}" class="button">{% trans "Continue" %}</a>
                </div>
            {% endblock payment_details_content %}
        {% endblock payment_details %}
            </div>
            <div class="general-sidebars">
                <div class="sidebar-wrap">
                    <div class="sidebar">
                        <div class="widget">
                            <h4 class="widget-title">{% trans 'Verzendadres' %}</h4>
                            <strong>
                                {% block shipping_address %}
                                    {{ block.super }}
                                {% endblock %}
                            </strong>
                            <a class="button" href="{% url 'checkout:shipping-address' %}">Wijzigen</a>
                        </div>
                        <div class="widget">
                            {% include 'checkout/partials/basket_overview.html' %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}
