{% extends 'checkout/checkout.html' %}
{% load i18n %}

{% block title %}
    {% trans "Payment details" %} | {{ block.super }}
{% endblock %}

{% block checkout_nav %}
    {% include 'checkout/nav.html' with step=3 %}
{% endblock %}

{% block checkout_title %}{% trans "Enter payment details" %}{% endblock %}

{% block order_contents %}{% endblock %}
{% block shipping_address %}{% endblock %}
{% block shipping_method %}{% endblock %}
{% block payment_method %}{% endblock %}

{% block breadcrumbs %}
    <div class="page-breadcrumbs">
        <div class="container">
            <div class="row">
                <div class="flat-wrapper">
                    <div class="breadcrumbs">
                        <h2 class="trail-browse">{% trans 'U bevindt zich hier:' %}</h2>
                        <ul class="trail-items">
                            <li class="trail-item"><a href="{% url 'promotions:home' %}">Home</a></li>
                            <li>{% trans 'Winkelwagen' %}</li>
                        </ul>
                    </div><!-- /.breadcrumbs -->
                </div><!-- /.flat-wrapper -->
            </div><!-- /.row -->
        </div><!-- /.container -->
    </div><!-- /.page-breadcrumbs -->
{% endblock breadcrumbs %}

{% block content %}
    <div id="content_inner" class="flat-row flat-woocommerce flat-general sidebar-right">
        <div class="container">
            {% if not user.is_authenticated %}
            <div class="woocommerce-info">{% trans 'Bestaande klant?' %}
                <a data-toggle="collapse" href="#login_form" class="showlogin">{% trans 'Klik hier om in te loggen!' %}</a>
            </div>


            <form id="login_form" method="post" class="login collapse" action="{{ request.get_full_path }}">
                <p>{% trans 'Als je reeds een account bij ons hebt, kan je hier je inloggen. Nieuwe klanten kunnen hun gegevens verderop invullen' %}</p>
                {% csrf_token %}
                <div class="row">
                    <div class="col-md-6">
                        <p class="form-row form-row-first">
                            <label for="username">Email<span class="required">*</span></label><br>
                            <input type="email" class="input-text" name="username" id="id_username">
                        </p>
                        <p class="form-row form-row-last">
                            <label for="password">Password<span class="required">*</span></label><br>
                            <input class="input-text" type="password" name="password" id="id_password">
                        </p>
                        <div class="clear"></div>
                        <p class="form-row">
                            <button type="submit" class="button" name="login">{% trans 'inloggen' %}</button>
                        </p>
                        <!--<p class="lost_password">
                            <a href="http://demo.linethemes.com/canava/my-account/lost-password/">Lost your password?</a>
                        </p>-->

                        <div class="clear"></div>   
                    </div>
                </div>
            </form>
            {% endif %}
      

            <form id="login_form" action="{{ request.get_full_path }}" method="post" class="well" >
                <h2>{% trans 'Log In' %}</h2>
                {% csrf_token %}
                {% include "partials/form_fields.html" with form=login_form %}
                <p><a href="{% url 'password-reset' %}">{% trans "I've forgotten my password" %}</a></p>
                <button name="login_submit" type="submit" value="Log In" class="btn btn-lg btn-primary" data-loading-text="{% trans "Logging in..." %}">{% trans 'Log In' %}</button>
            </form>
        </div>
        <div class="col-sm-6 register_form">
            <form id="register_form" action="{{ request.get_full_path }}" method="post" class="well">
                <h2>{% trans 'Register' %}</h2>
                {% csrf_token %}
                {% include "partials/form_fields.html" with form=registration_form %}
                <button name="registration_submit" type="submit" value="Register" class="btn btn-lg btn-primary" data-loading-text="{% trans 'Registering...' %}">{% trans 'Register' %}</button>
            </form>




        </div>
    </div>
{% endblock %}

{% block payment_details %}
    {% block payment_details_content %}
        <p>{% trans "This page needs implementing within your project.  You may want to use one of Oscar's payment gateway libraries:" %}</p>
        <ul>
            <li><a href="https://github.com/django-oscar/django-oscar-paypal">django-oscar-paypal</a></li>
            <li><a href="https://github.com/django-oscar/django-oscar-datacash">django-oscar-datacash</a></li>
            <li><a href="https://github.com/django-oscar/django-oscar-gocardless">django-oscar-gocardless</a></li>
            <li><a href="https://github.com/django-oscar/django-oscar-paymentexpress">django-oscar-paymentexpress</a></li>
            <li><a href="https://github.com/django-oscar/django-oscar-accounts">django-oscar-accounts</a></li>
        </ul>
        <a id="view_preview" href="{% url 'checkout:preview' %}" class="btn btn-primary btn-lg">{% trans "Continue" %}</a>
    {% endblock payment_details_content %}
{% endblock payment_details %}