{% extends 'checkout/checkout.html' %}

{% load i18n widget_tweaks %}

{% block breadcrumbs %}
    <div class="page-breadcrumbs">
        <div class="container">
            <div class="row">
                <div class="flat-wrapper">
                    <div class="breadcrumbs">
                        <h2 class="trail-browse">{% trans 'U bevindt zich hier:' %}</h2>
                        <ul class="trail-items">
                            <li class="trail-item"><a href="{% url 'promotions:home' %}">Home</a></li>
                            <li class="trail-item"><a href="{% url 'checkout:index' %}">{% trans 'Afrekenen' %}</a></li>
                            <li>{% trans 'Verzendgegevens' %}</li>
                        </ul>
                    </div><!-- /.breadcrumbs -->
                </div><!-- /.flat-wrapper -->
            </div><!-- /.row -->
        </div><!-- /.container -->
    </div><!-- /.page-breadcrumbs -->
{% endblock breadcrumbs %}



{% block shipping_address %}
<div class="flat-row flat-woocommerce flat-general sidebar-right">
    <div class="container">
        <div class="row">
            <div class="general">
            	<h3 class="flat-title-section style">
            		<span>{% trans 'Shipping Address' %}</span>
        		</h3>
        		<div class="row">
        			<div class="col-sm-7">
				{% block new_address_form %}
		    			<form action="{% url 'checkout:shipping-address' %}" method="post" id="new_shipping_address" class="form form-horizontal">
		    				{% csrf_token %}
			        		{% render_field form.title class+='input-text' class+='address-form' %}
			        		{% render_field form.first_name class+='input-text' placeholder=form.first_name.label class+='address-form' %}
			        		{% render_field form.last_name class+='input-text' placeholder=form.last_name.label class+='address-form' %}
			        		{% render_field form.line1 class+='input-text' placeholder=form.line1.label class+='address-form' %}
		<!-- 	        		<label for="id_line2">{% trans 'Tweede adresregel' %}</label>
			        		{% render_field form.line2 class+='input-text' %} -->
			        		{% render_field form.line4 class+='input-text' placeholder=form.line4.label class+='address-form' %}
			        		{% render_field form.postcode class+='input-text' placeholder=form.postcode.label class+='address-form' %}
		        		{% if form.country %}
			        		{% render_field form.country placeholder=form.country.label class+='address-form' %}
		        		{% endif %}
			        		{% render_field form.phone_number placeholder=form.phone_number.label class+='address-form' %}
			        		{% render_field form.notes placeholder=form.notes.label %}
		                    <p class="form-row form-login">
		                        <button type="submit" class="button" name="login">{% trans 'Opslaan' %}</button>
		                    </p> 
		        		</form>
				{% endblock new_address_form %}
					</div>
					<div class="col-sm-4 col-sm-offset-1">
				{% if user.is_authenticated %}
					{% if addresses %}
						<h3>
							Eerder opgeslagen adressen
						</h3>
					{% else %}
						<h3>Nieuwe Verzendadres</h3>
					{% endif %}
				{% endif %}
					</div>
        		</div>
            </div>
            <div class="general-sidebars">
                <div class="sidebar-wrap">
                    <div class="sidebar">
                        <div class="widget">
                            {% include 'checkout/partials/basket_overview.html' %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
	<div class="col-sm-12">
	    <div class="sub-header">
	        <h2>{% trans "Where should we ship to?" %}</h2>
	    </div>
	    {% if user.is_authenticated %}
	        {% if addresses %}
	            <h3>{% trans "An address from your address book?" %}</h3>
	            <div class="choose-block">
	                <div class="row">
	                    {% for address in addresses %}
	                        {% block select_address_form %}
	                            <div class="col-sm-6">
	                                <div class="well">
	                                    <address>
	                                        {% block select_address_fields %}
	                                            {% for field in address.active_address_fields %}
	                                                <span>{{ field }}</span>{% if not forloop.first %}<br/>{% endif %}
	                                            {% endfor %}
	                                        {% endblock %}
	                                    </address>
	                                    <form action="{% url 'checkout:shipping-address' %}" method="post" id="select_shipping_address_{{ address.id }}">
	                                        {% csrf_token %}
	                                        <input type="hidden" name="action" value="ship_to" />
	                                        <input type="hidden" name="address_id" value="{{ address.id }}" />
	                                        {% if address.is_default_for_shipping %}
	                                            <button type="submit" class="btn btn-success btn-large ship-address" data-loading-text="{% trans 'Saving...' %}"><i class="icon-ok"></i> {% trans "Ship to your default shipping address" %}</button>
	                                        {% else %}
	                                            <button type="submit" class="btn btn-primary btn-large ship-address" data-loading-text="{% trans 'Saving...' %}">{% trans "Ship to this address" %}</button>
	                                        {% endif %}

	                                        <div class="btn-group address-controls">
	                                            <a href="{% url 'checkout:user-address-update' pk=address.id %}" class="btn btn-default btn-sm">{% trans "Edit address" %}</a>
	                                            <button class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown">
	                                                <span class="caret"></span>
	                                            </button>
	                                            <ul class="dropdown-menu">
	                                                <li><a href="{% url 'checkout:user-address-delete' pk=address.id %}" class="btn-remove-address">{% trans "Delete" %}</a></li>
	                                            </ul>
	                                        </div>
	                                    </form>
	                                </div>
	                            </div>
	                            {% if forloop.counter|divisibleby:2 %}
	                                </div><div class="row">
	                            {% endif %}
	                        {% endblock %}
	                    {% endfor %}
	                </div>
	            </div>
	            <h3>{% trans "Or a new address?" %}</h3>
	        {% endif %}
	    {% endif %}

	</div>
</div>
{% endblock shipping_address %}