{% extends "checkout/checkout.html" %}

{% load currency_filters i18n shipping_tags %}

{% block title %}
    {% trans "Shipping method" %} | {{ block.super }}
{% endblock %}

{# yellow title block #}
{% block subheader_title %}
    {% trans 'Shipping method' as shipping %}
    {% include 'partials/page-title.html' with page_title=shipping %}
{% endblock %}

{% block checkout_nav %}
    {% include 'checkout/nav.html' with step=2 %}
{% endblock %}

{% block checkout_title %}{% trans "Shipping method" %}{% endblock %}

{% block order_contents %}{% endblock %}
{% block payment_method %}{% endblock %}

{% block breadcrumbs %}
    <div class="page-breadcrumbs">
        <div class="container">
            <div class="row">
                <div class="flat-wrapper">
                    <div class="breadcrumbs">
                        <h2 class="trail-browse">{% trans 'U bevindt zich hier:' %}</h2>
                        <ul class="trail-items">
                            <li class="trail-item"><a href="{% url 'promotions:home' %}">Home</a></li>
                            <li class="trail-item"><a href="{% url 'checkout:index' %}">{% trans 'Afrekenen' %}</a></li>
                            <li>{% trans 'Shipping method' %}</li>
                        </ul>
                    </div><!-- /.breadcrumbs -->
                </div><!-- /.flat-wrapper -->
            </div><!-- /.row -->
        </div><!-- /.container -->
    </div><!-- /.page-breadcrumbs -->
{% endblock breadcrumbs %}

{% block content %}
<div id="content_inner" class="flat-row flat-woocommerce flat-general sidebar-right">
    <div class="container">
        <div class="row">
            <div class="col-md-5 col-sm-8 col-xs-10">
                <h4 class="flat-title-section style2">{% trans 'Verzend' %} <span class="scheme">{% trans 'naar mijn adres' %}</span></h4>
                <p>
                    {% blocktrans %}
                        Op dit moment kunnen wij de verzendkosten nog niet automatisch berekenen. Op basis van de bestelde 
                        onderdelen berekenen wij de correcte verzendkosten, en contacteren we jou om deze te bevestigen. We streven ernaar om een antwoord te geven binnen de 2 werkdagen.
                    {% endblocktrans %}
                </p>

                <form method="post" action="{% url 'checkout:shipping-method' %}">
                    {% csrf_token %}
                    <input type="hidden" name="method_code" value="{{ methods.0.code }}" />
                    <button type="submit" class="button" data-loading-text="{% trans 'Submitting...' %}">{% trans "Select option" %}</button>
                </form>
            </div><!-- /.col-md-6 -->

            <div class="col-md-5 col-md-offset-1 col-sm-8 col-xs-10">
                <h4 class="flat-title-section style2">{% trans 'Zelf' %} <span class="scheme">{% trans 'afhalen' %}</span></h4>
                <p>
                    {% blocktrans %}
                        Het is mogelijk om je bestelling zelf op te halen aan ons magazijn. Wij zullen alle producten uit
                        je bestelling klaarzetten, en deze kan afgehaald worden na afspraak.
                    {% endblocktrans %}
                </p>
<!--                 <ul class="flat-list">
                    <li>Combined sea and air imports from Asia, Middle East and Oceania offers a fast and reliable service</li>
                    <li>FCL (full container load), export and import to/from any destination in the world</li>
                    <li>Project cargo management for overweight / oversized cargoes</li>
                    <li>Bulk (conventional) sea freight shipments</li>
                </ul> -->
                <form method="post" action="{% url 'checkout:shipping-method' %}">
                    {% csrf_token %}
                    <input type="hidden" name="method_code" value="{{ methods.1.code }}" />
                    <button type="submit" class="button" data-loading-text="{% trans 'Submitting...' %}">{% trans "Select option" %}</button>
                </form>
            </div><!-- /.col-md-6 -->
        </div>
    </div>
</div>
{% endblock %}

