{% extends 'checkout/checkout.html' %}

{% load i18n widget_tweaks %}

{% block breadcrumbs %}
    <div class="page-breadcrumbs">
        <div class="container">
            <div class="row">
                <div class="flat-wrapper">
                    <div class="breadcrumbs">
                        <h2 class="trail-browse">{% trans 'U bevindt zich hier:' %}</h2>
                        <ul class="trail-items">
                            <li class="trail-item"><a href="{% url 'promotions:home' %}">Home</a></li>
                            <li class="trail-item"><a href="{% url 'checkout:index' %}">{% trans 'Afrekenen' %}</a></li>
                            <li>{% trans 'Verzendgegevens' %}</li>
                        </ul>
                    </div><!-- /.breadcrumbs -->
                </div><!-- /.flat-wrapper -->
            </div><!-- /.row -->
        </div><!-- /.container -->
    </div><!-- /.page-breadcrumbs -->
{% endblock breadcrumbs %}



{% block shipping_address %}
<div class="flat-row flat-woocommerce flat-general sidebar-right">
    <div class="container">
        <div class="row">
            <div class="general">
            	<h3 class="flat-title-section style">
            		<span>{% trans 'Shipping Address' %}</span>
        		</h3>
        		<div class="row">
        			<div class="col-sm-7">
        				<h4 class="title" style="margin-top: 0px;">{% trans 'Nieuw adres' %}</h4>
				{% block new_address_form %}
		    			<form action="{% url 'checkout:shipping-address' %}" method="post" id="new_shipping_address" class="form form-horizontal">
		    				{% csrf_token %}
			        		{% render_field form.title class+='input-text' class+='address-form' %}
			        		{% render_field form.first_name class+='input-text' placeholder=form.first_name.label class+='address-form' %}
			        		{% render_field form.last_name class+='input-text' placeholder=form.last_name.label class+='address-form' %}
			        		{% render_field form.line1 class+='input-text' placeholder=form.line1.label class+='address-form' %}
		<!-- 	        		<label for="id_line2">{% trans 'Tweede adresregel' %}</label>
			        		{% render_field form.line2 class+='input-text' %} -->
			        		{% render_field form.line4 class+='input-text' placeholder=form.line4.label class+='address-form' %}
			        		{% render_field form.postcode class+='input-text' placeholder=form.postcode.label class+='address-form' %}
		        		{% if form.country %}
			        		{% render_field form.country placeholder=form.country.label class+='address-form' %}
		        		{% endif %}
			        		{% render_field form.phone_number placeholder=form.phone_number.label class+='address-form' %}
			        		{% render_field form.notes placeholder=form.notes.label %}
		                    <p class="form-row form-login">
		                        <button type="submit" class="button" name="login">{% trans 'Opslaan' %}</button>
		                    </p> 
		        		</form>
				{% endblock new_address_form %}
					</div>
					{% if user.is_authenticated %}
					<div class="col-sm-5">
						<div class="widget widget_text">
                            <div class="textwidget">
                                <div class="content-text">
                                    <h4 class="title">{% trans 'Jouw addressen' %}</h4>
								{% if addresses %}
									<div class="row">
										<div class="col-xs-offset-1">
				                    	{% for address in addresses %}
					                    	<p style="{% if not forloop.first %}margin-top: 35px;{% endif %}margin-bottom: 10px;">
					                    		<i class="fa fa-circle"></i>&nbsp;&nbsp;{{ address.line1 }}, {{ address.line4 }}
				                    		</p>
		                                    <form action="{% url 'checkout:shipping-address' %}" method="post" id="select_shipping_address_{{ address.id }}">
		                                        {% csrf_token %}
		                                        <input type="hidden" name="action" value="ship_to" />
		                                        <input type="hidden" name="address_id" value="{{ address.id }}" />
		                                    {% if address.is_default_for_shipping %}
		                                        <button type="submit" class="button white" data-loading-text="{% trans 'Saving...' %}">
		                                        	{% trans "Standaard adres gebruiken" %}<i class="fa fa-check"></i> 
		                                    	</button>
		                                    {% else %}
		                                        <button type="submit" class="button white" data-loading-text="{% trans 'Saving...' %}">
		                                        	{% trans "Ship to this address" %}<i class="fa fa-chevron-right"></i>
		                                    	</button>
		                                    {% endif %}
		                                    </form>
			                    		{% endfor %}
		                    			</div>
		                    		</div>
									{% else %}
									<p>
										{% trans 'Je hebt nog geen addressen in je adresboek' %}
									</p>
									{% endif %}
									<hr>
	                                <a class="button bg-scheme3 style1" href="{% url 'customer:address-list' %}" style="width: 100%;">
	                                	{% trans 'Adressen beheren' %}<i class="fa fa-chevron-right"></i>
	                                </a>
                                </div>
                            </div><!-- /.textwidget -->
                        </div>
					</div>
					{% endif %}
        		</div>
            </div>
            <div class="general-sidebars">
                <div class="sidebar-wrap">
                    <div class="sidebar">
                        <div class="widget">
                            {% include 'checkout/partials/basket_overview.html' %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>	
{% endblock shipping_address %}