{% extends "checkout/layout.html" %}
{% load currency_filters %}
{% load thumbnail %}
{% load i18n %}
{% load staticfiles %}

{% block title %}
    {% blocktrans with number=order.number %}
        Order {{ number }}: confirmation
    {% endblocktrans %} | {{ block.super }}
{% endblock title %}

{% block checkout_title %}
    {% blocktrans with number=order.number %}
        Order {{ number }}: confirmation
    {% endblocktrans %}
{% endblock %}

{# yellow title block #}
{% block subheader_title %}
    {% trans 'Bevestiging' as confirmation %}
    {% include 'partials/page-title.html' with page_title=confirmation %}
{% endblock %}

{% block breadcrumbs %}
    <div class="page-breadcrumbs">
        <div class="container">
            <div class="row">
                <div class="flat-wrapper">
                    <div class="breadcrumbs">
                        <h2 class="trail-browse">{% trans 'U bevindt zich hier:' %}</h2>
                        <ul class="trail-items">
                            <li class="trail-item"><a href="{% url 'promotions:home' %}">Home</a></li>
                            <li class="trail-item"><a href="{% url 'checkout:index' %}">{% trans 'Afrekenen' %}</a></li>
                            <li>{% trans 'Bevestiging' %}</li>
                        </ul>
                    </div><!-- /.breadcrumbs -->
                </div><!-- /.flat-wrapper -->
            </div><!-- /.row -->
        </div><!-- /.container -->
    </div><!-- /.page-breadcrumbs -->
{% endblock breadcrumbs %}

{% block content %}
<div id="content_inner" class="flat-row flat-woocommerce flat-general">
    <div class="container">
        <div class="row">
            <div class="general">
                <h3 class="flat-title-section style">
                    <span>{% trans 'Bevestiging' %}</span>
                </h3>  
                {% if not order.shipping_code == 'Afhaling door klant' %}
                <div class="flat-woocommerce">
                    <div class="woocommerce-danger">
                        <strong>{% trans 'Belangrijke informatie!' %}</strong>
                        {% trans 'Wij nemen binnen de 2 werkdagen contact op met u om deze bestelling op een vlotte manier af te handelen. ' %}
                    </div>
                </div>
                {% endif %}

                <p class="lead">
                    {% blocktrans with number=order.number %}
                    Your order has been placed and a confirmation email has been sent - your order number is
                    <strong>{{ number }}</strong>.
                    {% endblocktrans %}
                    {% trans "Please make a note of this reference or print this page and quote it in any communication with us regarding your order." %}</p>
                </p>

                <div class="widget" style="margin-top: 50px; margin-bottom: 25px;">
                    <h3 class="widget-title">{% trans "Order contents" %}</h3>
                </div>

                <div class="row heading-row">
                    <div class="col-xs-3">{% trans 'Image' %}</div>
                    <div class="col-sm-5 col-xs-6">{% trans 'Product' %}</div>
                    <div class="col-sm-1 hidden-xs">{% trans 'Aantal' %}</div>
                    <div class="col-xs-3 total">{% trans 'Totaal' %}</div>
                </div>
                {% for line in order.lines.all %}
                 <div class="row item-row {% cycle '' 'even' %}" style="margin-top: 0px;">
                    <div class="col-xs-3">
                {% with image=line.product.primary_image %}
                    {% thumbnail image.original "110x110" upscale=False as thumb %}                       
                            <img class="thumbnail basket img-responsive" src="{{ thumb.url }}" alt="{{ line.product.get_title }}"/>
                    {% endthumbnail %}
                {% endwith %}
                    </div>
                    <div class="col-sm-5 col-xs-6">
                        {{ line.product }}
                    </div>
                    <div class="col-sm-1 hidden-xs">
                        {{ line.quantity }}
                    </div>
                    <div class="col-xs-3 total">
                        {{ line.line_price_incl_tax|currency }}
                    </div>
                 </div>
                {% endfor %}
                <div class="row">
                    <div class="col-md-6 col-md-offset-6">
                        <div class="cart-collaterals">
                            <div class="cart_totals calculated_shipping">
                                <div class="row">
                                    <div class="col-xs-7">
                                        <h2>{% trans 'Order total' %}</h2>
                                    </div>
                                    <div class="col-xs-5">
                                        <h2>{{ order.total_incl_tax|currency:order.currency }}</h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="widget" style="margin-top: 50px; margin-bottom: 25px;">
                    <h3 class="widget-title">{% trans "Shipping" %}</h3>
                </div>

                <div class="row">
                    {% if order.shipping_code == 'Afhaling door klant' %}
                    <div class="col-xs-8">
                        {{ order.shipping_method }}
                    </div>
                    {% elif order.shipping_code == 'Verzenden naar klant' %}
                    <div class="col-xs-8">
                        <strong>
                        {{ order.shipping_address.line1 }}<br>
                        {{ order.shipping_address.postcode }} {{ order.shipping_address.line4 }}<br>
                        {{ order.shipping_address.country }}<br>
                        </strong>
                    </div>
                    {% else %}
                    <div class="col-xs-8">
                        <strong>
                        {{ order.shipping_address.line1 }}<br>
                        {{ order.shipping_address.postcode }} {{ order.shipping_address.line4 }}<br>
                        {{ order.shipping_address.country }}<br>
                        </strong>
                    </div>
                    {% endif %}
                </div>



            {% block order_actions %}
                <div class="form-group" style="margin-top: 50px;">
                    <div class="row">
                        <div class="col-sm-4">
                            <p><a onclick="window.print()" href="#" class="button">{% trans "Print this page" %}</a></p>
                        </div>
                        <div class="col-sm-4 col-sm-offset-4">
                            <p><a href="{% url 'catalogue:index' %}" class="button">{% trans "Continue shopping" %}</a></p>
                        </div>
                    </div>
                </div>
            {% endblock order_actions %}
            </div>
        </div>
    </div>
</div>

{% endblock content %}

{% block tracking %}
    {% include "partials/google_analytics_transaction.html" %}
{% endblock %}
