{% extends "checkout/layout.html" %}
{% load currency_filters %}
{% load thumbnail %}
{% load i18n %}
{% load staticfiles %}

{% block title %}
    {% blocktrans with number=order.number %}
        Order {{ number }}: confirmation
    {% endblocktrans %} | {{ block.super }}
{% endblock title %}

{% block checkout_title %}
    {% blocktrans with number=order.number %}
        Order {{ number }}: confirmation
    {% endblocktrans %}
{% endblock %}

{# yellow title block #}
{% block subheader_title %}
    {% trans 'Bevestiging' as confirmation %}
    {% include 'partials/page-title.html' with page_title=confirmation %}
{% endblock %}

{% block breadcrumbs %}
    <div class="page-breadcrumbs">
        <div class="container">
            <div class="row">
                <div class="flat-wrapper">
                    <div class="breadcrumbs">
                        <h2 class="trail-browse">{% trans 'U bevindt zich hier:' %}</h2>
                        <ul class="trail-items">
                            <li class="trail-item"><a href="{% url 'promotions:home' %}">Home</a></li>
                            <li class="trail-item"><a href="{% url 'checkout:index' %}">{% trans 'Afrekenen' %}</a></li>
                            <li>{% trans 'Bevestiging' %}</li>
                        </ul>
                    </div><!-- /.breadcrumbs -->
                </div><!-- /.flat-wrapper -->
            </div><!-- /.row -->
        </div><!-- /.container -->
    </div><!-- /.page-breadcrumbs -->
{% endblock breadcrumbs %}

{% block content %}
<div id="content_inner" class="flat-row flat-woocommerce flat-general">
    <div class="container">
        <div class="row">
            <div class="general">
                <h3 class="flat-title-section style">
                    <span>{% trans 'Bevestiging' %}</span>
                </h3>  
                <p class="lead">
                    {% blocktrans with number=order.number %}
                    Your order has been placed and a confirmation email has been sent - your order number is
                    <strong>{{ number }}</strong>.
                    {% endblocktrans %}
                    {% trans "Please make a note of this reference or print this page and quote it in any communication with us regarding your order." %}</p>
                </p>

                <div class="widget" style="margin-top: 50px; margin-bottom: 25px;">
                    <h3 class="widget-title">{% trans "Order contents" %}</h3>
                </div>

                <div class="row heading-row">
                    <div class="col-xs-3">{% trans 'Image' %}</div>
                    <div class="col-sm-5 col-xs-6">{% trans 'Product' %}</div>
                    <div class="col-sm-1 hidden-xs">{% trans 'Aantal' %}</div>
                    <div class="col-xs-3 total">{% trans 'Totaal' %}</div>
                </div>
                {% for line in order.lines.all %}
                 <div class="row item-row {% cycle '' 'even' %}" style="margin-top: 0px;">
                    <div class="col-xs-3">
                {% with image=line.product.primary_image %}
                    {% thumbnail image.original "110x110" upscale=False as thumb %}                       
                            <img class="thumbnail basket img-responsive" src="{{ thumb.url }}" alt="{{ line.product.get_title }}"/>
                    {% endthumbnail %}
                {% endwith %}
                    </div>
                    <div class="col-sm-5 col-xs-6">
                        {{ line.product }}
                    </div>
                    <div class="col-sm-1 hidden-xs">
                        {{ line.quantity }}
                    </div>
                    <div class="col-xs-3 total">
                        {{ line.line_price_incl_tax|currency }}
                    </div>
                 </div>
                {% endfor %}
                <div class="row">
                    <div class="col-md-6 col-md-offset-6">
                        <div class="cart-collaterals">
                            <div class="cart_totals calculated_shipping">
                                <div class="row">
                                    <div class="col-xs-7">
                                        <h2>{% trans 'Totaal winkelwagen' %}</h2>
                                    </div>
                                    <div class="col-xs-5">
                                    {% if not show_tax_separately and basket.is_tax_known %}
                                        <h2>{{ basket.total_incl_tax|currency:basket.currency }}</h2>
                                    {% else %}
                                        <h2>{{ basket.total_excl_tax|currency:basket.currency }}</h2>
                                    {% endif %}
                                    </div>
                                </div>
                                <div class="wc-proceed-to-checkout" style="margin-top: 15px;">
                                    <a href="{% url 'checkout:index' %}" class="checkout-button button alt wc-forward">
                                        {% trans 'Afrekenen' %}
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="row shipping-payment">
                    <div class="col-sm-6">
                        {% block shipping_info %}
                            <div class="sub-header">
                                <h2>{% trans "Shipping" %}</h2>
                            </div>
                            <div class="well well-info">
                                <h3>{% trans "Address" %}</h3>
                                {% if order.shipping_address %}
                                    <address>
                                        {% for field in order.shipping_address.active_address_fields %}
                                            {{ field }}<br/>
                                        {% endfor %}
                                    </address>

                                    {% if order.shipping_address.phone_number %}
                                        <h4>{% trans "Contact" %}</h4>
                                        <p>
                                            {% trans "Phone" %}: {{ order.shipping_address.phone_number }}
                                            {% if order.guest_email %}
                                                <br/>{% trans "Email" %}: {{ order.guest_email }}
                                            {% endif %}
                                        </p>
                                    {% endif %}

                                    {% if order.shipping_address.notes %}
                                        <h4>{% trans "Instructions" %}</h4>
                                        <p>{{ order.shipping_address.notes|linebreaks }}</p>
                                    {% endif %}
                                {% else %}
                                    <p>{% trans "No shipping address required." %}</p>
                                {% endif %}
                            </div>

                            <div class="well well-info">
                                <h3>{% trans "Shipping method" %}</h3>
                                <p>{{ order.shipping_method }}</p>
                            </div>
                        {% endblock %}
                    </div>

                </div>

                <div class="sub-header">
                    <h2>{% trans "Order contents" %}</h2>
                </div>

                <div class="basket-title">
                    <div class="row">
                        <p class="col-sm-9 h4">{% trans "Items purchased" %}</p>
                        <p class="col-sm-1 h4 align-center">{% trans "Quantity" %}</p>
                        <p class="col-sm-2 h4 align-right">{% trans "Total" %}</p>
                    </div>
                </div>

            {% for line in order.lines.all %}
                <div class="basket-items">
                    <div class="row">
                        <div class="col-sm-2">
                            <div class="image_container">
                                {% with image=line.product.primary_image %}
                                    {% thumbnail image.original "200x200" upscale=False as thumb %}
                                    <a href="{{ line.product.get_absolute_url }}"><img class="thumbnail" src="{{ thumb.url }}" alt="{{ product.get_title }}"></a>
                                    {% endthumbnail %}
                                {% endwith %}
                            </div>
                        </div>
                        <div class="col-sm-7">
                            <h3><a href="{{ line.product.get_absolute_url }}">{{ line.description }}</a></h3>
                            <p>
                            {% if line.upc %}{{ line.upc }}<br/>{% endif %}
                            {% if line.est_dispatch_date %}
                                {% blocktrans with date=line.est_dispatch_date %}
                                    Estimated dispatch: <strong>{{ date }}</strong>
                                {% endblocktrans %}
                            {% endif %}
                            </p>
                        </div>
                        <div class="col-sm-1 align-center">
                            {{ line.quantity }}
                        </div>
                        <div class="col-sm-2 align-right">
                            <p class="price_color">
                                {% if show_tax_separately %}
                                    {{ line.line_price_before_discounts_excl_tax|currency:order.currency }}
                                {% else %}
                                    {{ line.line_price_before_discounts_incl_tax|currency:order.currency }}
                                {% endif %}
                            </p>
                        </div>
                    </div>
                </div>
            {% endfor %}

            {% block basket_totals %}
                <div class="row">
                    <div class="col-sm-6">&nbsp;</div>
                    <div class="col-sm-6">
                        <div class="sub-header">
                            <h2>{% trans 'Totals' %}</h2>
                        </div>

                        <div id="basket_totals">
                            <table class="table table-condensed">
                                <tr>
                                    <th colspan="2"><h3>{% trans "Basket" %}</h3></th>
                                </tr>



                                {% if show_tax_separately %}
                                    <tr>
                                        <th colspan="2">&nbsp;</th>
                                    </tr>
                                    <tr>
                                        <th class="total">{% trans "Order tax" %}</th>
                                        <th class="total align-right">
                                            {{ order.total_tax|currency:order.currency }}
                                        </th>
                                    </tr>
                                {% endif %}

                                {% block post_order_action_totals %}
                                    {% with actions=order.post_order_actions %}
                                        {% if actions %}
                                            <tr>
                                                <th colspan="2">&nbsp;</th>
                                            </tr>
                                            <tr>
                                                <th colspan="2"><h3>{% trans "Post order actions" %}</h3></th>
                                            </tr>
                                            {% for action in order.post_order_actions %}
                                                <tr>
                                                    <td class="total" colspan="2"><p>{{ action.message }}</p></td>
                                                </tr>
                                            {% endfor %}
                                        {% endif %}
                                    {% endwith %}
                                {% endblock post_order_action_totals %}

                                {% block order_total %}
                                    <tr>
                                        <th colspan="2">&nbsp;</th>
                                    </tr>
                                    <tr>
                                        <td class="total"><h3>{% trans "Order total" %}</h3></td>
                                        <td class="total align-right"><h3 class="price_color">{{ order.total_incl_tax|currency:order.currency }}</h3></td>
                                    </tr>
                                {% endblock order_total %}
                            </table>
                        </div>
                    </div>
                </div>
            {% endblock basket_totals %}


            {% block order_actions %}
                <div class="form-group">
                    <div class="row">
                        <div class="col-sm-4">
                            <p><a onclick="window.print()" href="#" class="button">{% trans "Print this page" %}</a></p>
                        </div>
                        <div class="col-sm-4 col-sm-offset-4">
                            <p><a href="{% url 'catalogue:index' %}" class="button">{% trans "Continue shopping" %}</a></p>
                        </div>
                    </div>
                </div>
            {% endblock order_actions %}
            </div>
        </div>
    </div>
</div>

{% endblock content %}

{% block tracking %}
    {% include "partials/google_analytics_transaction.html" %}
{% endblock %}
