{% load i18n %}

<div class="site-header header-v2">
    <div class="flat-top">
        <div class="container">
            <div class="row">
                <div class="flat-wrapper">
                    <div class="custom-info">
                        <span>{% trans 'Contact opnemen?' %}</span>
                        <span><i class="fa fa-reply"></i>{% trans 'Contactformulier' %}</span> 
                        <span><i class="fa fa-map-marker"></i>Oudenbos 77A 3202 Rillaar</span> 
                        <span><i class="fa fa-phone"></i>+32 475/ 931 789</span>
                    </div>

                    <div class="social-links">
                        <a href="#">
                            <b>NL</b>
                        </a>
                        <a href="#">
                            <b>FR</b>
                        </a>
                        <a href="#">
                            <b>EN</b>
                        </a>    
                    </div>
                </div><!-- /.flat-wrapper -->
            </div><!-- /.row -->
        </div><!-- /.container -->
    </div><!-- /.flat-top -->
  
    <header id="header" class="header"> 
        <div class="header-wrap">
            <div id="logo" class="logo">
                <a href="index.html">
                    <img src="images/logo.png" alt="images">
                </a>
            </div><!-- /.logo -->
            <div class="btn-menu">
                <span></span>
            </div><!-- //mobile menu button -->
       
            <div class="nav-wrap">                                
                <nav id="mainnav" class="mainnav">
                    <div class="menu-extra">
                        <ul>
                            <li id ="s" class="search-box">
                                <a href="#search" class="flat-search"><i class="fa fa-search"></i></a>
                                <div class="submenu top-search">
                                    <div class="widget widget_search">
                                        <form class="search-form">
                                            <input type="search" class="search-field" placeholder="Search …">
                                            <input type="submit" class="search-submit">
                                        </form>
                                    </div>
                                </div>
                            </li>
                            <li class="shopping-cart">
                                <a href="#">
                                    <i class="fa fa-shopping-cart"></i>
                                    <span class="shopping-cart-items-count">2</span>
                                </a>
                                <div class="subcart">
                                    <div class="widget_shopping_cart_content">
                                        <ul class="cart_list product_list_widget">      
                                            <li class="mini_cart_item">
                                                <a href="#" class="remove" >x</a>
                                                <a href="#"><img src="images/products/1.jpg" alt="images">Boskke Cube</a>
                                                <p><span class="quantity">1 × <span class="amount">$39.00</span></span></p>
                                            </li> 
                                            <li class="mini_cart_item">
                                                <a href="#" class="remove" >x</a>
                                                <a href="#"><img src="images/products/2.jpg" alt="images">Cast Iron Casserole</a>
                                                <p><span class="quantity">1 × <span class="amount">$230.00</span></span></p>
                                            </li>    
                                        </ul>
                                        <p class="total">
                                            <strong>Subtotal:</strong> <span class="amount">$269.00</span>
                                        </p>
                                        <div class="group-btn">
                                            <a class="button" href="#">view cart</a>                                                
                                            <a class="button bg-scheme3 style1" href="#">checkout</a>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                        
                    </div><!-- /.menu-extra -->
                    <ul class="menu"> 
                        <li class="home">
                            <a href="{% url 'promotions:home' %}">Home</a>
                        </li>
                        <li><a href="{% url 'catalogue:index' %}">Shop</a>
                            <ul class="submenu">
                                <li><a href="about.html">DS</a></li>
                                <li><a href="company-history.html">2PK</a></li>
                                <li><a href="our-people.html">Andere</a></li>
                            </ul><!-- /.submenu -->
                        </li>
                        <li><a href="services.html">{% trans 'Onze diensten' %}</a>
                        </li>
                        <li><a href="portfolio.html">{% trans "Foto's" %}</a>
                        </li>                                              
                        <li><a href="blog.html">{% trans 'Nieuws' %}</a>
                        </li>    
                        <li><a href="contact.html">{% trans 'Contact' %}</a></li>
                    </ul><!-- /.menu -->                                        
                </nav><!-- /.mainnav -->  
            </div><!-- /.nav-wrap -->
        </div><!-- /.header-wrap --> 
    </header><!-- /.header -->
</div><!-- /.site-header -->