{% load i18n thumbnail category_tags %}
<div class="site-header header-v2">
    <div class="flat-top">
        <div class="container">
            <div class="row">
                <div class="flat-wrapper">
                    <div class="custom-info">
                        <span>{% trans 'Contact opnemen?' %}</span>
                        <a href="#"><span><i class="fa fa-reply"></i>{% trans 'Contactformulier' %}</span></a>
                        <!-- <span><i class="fa fa-map-marker"></i>Oudenbos 77A 3202 Rillaar</span>  -->
                        <span><i class="fa fa-phone"></i>+32 475/ 931 789</span>
                        {% if user.is_staff or perms.partner.dashboard_access %}
                        <a href="{% url 'dashboard:index' %}" style="padding-top: 3px;">
                            <span><i class="fa fa-list-ul"></i>Dashboard</span>
                        </a>
                        {% endif %}
                    </div>

                    <div class="social-links">
                        <form id="language_selector" action="{% url 'set_language' %}" method="POST">
                            {% csrf_token %}
                            <input id="next_page" name="next" type="hidden" value="{{ language_neutral_url_path }}" class="hidden">
                            {% get_language_info_list for LANGUAGES as languages %}
                            {% for language in languages %}
                            <a class="language_selector" data-language="{{ language.code }}" href="#">
                                <b>{{ language.code|upper }}</b>
                            </a>
                            {% endfor %}
                        </form>   
                    </div>
                </div><!-- /.flat-wrapper -->
            </div><!-- /.row -->
        </div><!-- /.container -->
    </div><!-- /.flat-top -->
  
    <header id="header" class="header"> 
        <div class="header-wrap">
            <div id="logo" class="logo">
                <a href="index.html">
                    <img src="" alt="images">
                </a>
            </div><!-- /.logo -->
            <div class="btn-menu">
                <span></span>
            </div><!-- //mobile menu button -->
       
            <div class="nav-wrap">                                
                <nav id="mainnav" class="mainnav">
                    <div class="menu-extra">
                        <ul>
                            <li id="s" class="search-box">
                                <a href="#search" class="flat-search"><i class="fa fa-search"></i></a>
                                <div class="submenu top-search">
                                    <div class="widget widget_search">
                                        <form method="get" action="{% url 'search:search' %}" class="search-form">
                                            <div class="input-group">
                                                <input name="q" type="search" class="search-field" placeholder="{% trans 'Zoek producten&hellip;' %}">
                                                <span class="input-group-btn">
                                                    <button class="btn" type="submit"><i class="fa fa-search"></i></button>
                                                </span>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </li>
                            <li class="search-box">
                                <a href="#search" class="flat-search"><i class="fa fa-user"></i></a>
                                <div class="submenu top-search">
                                    
                                </div>
                            </li>
                            <li class="shopping-cart">
                                <a href="#">
                                    <i class="fa fa-shopping-cart"></i>
                                    <!-- AANTAL ITEMS IN SHOPPING CAR-->
                                    <span id="nav-cart" class="shopping-cart-items-count">{{ request.basket.num_lines }}</span>
                                </a>
                                {% if request.basket.num_lines %}
                                <div class="subcart">
                                    <div class="widget_shopping_cart_content">
                                        {% include 'catalogue/partials/header-basket.html' with basket=request.basket %}
                                    </div>
                                </div>
                                {% endif %}
                            </li>
                        </ul>
                    </div><!-- /.menu-extra -->
                    <ul class="menu">
                    	{% url 'promotions:home' as home_url %} 
                    	{% url 'catalogue:index' as catalogue_url %}
                        {% url 'contact' as contact_url %}
                        <li class="{% if request.get_full_path == home_url %}active{% endif %}">
                            <a href="{{ home_url }}">Home</a>
                        </li>
                        <li class="{% if request.get_full_path == catalogue_url %}active{% endif %}">
                        <a href="{{ catalogue_url }}">Shop</a>
                    {% category_tree as tree_categories %}
                    {% if tree_categories %}
                        <ul class="submenu">
                        {% for tree_category, info in tree_categories %}
                            {% if info.level == 0 %}
                            <li>
                                <a href="{{ tree_category.get_absolute_url }}">{{ tree_category.name }}</a>
                            </li>
                            {% endif %}
                        {% endfor %}
                        </ul>
                    {% endif %}
                        </li>
                        <li><a href="services.html">{% trans 'Onze diensten' %}</a>
                        </li>
                        <li><a href="portfolio.html">{% trans "Foto's" %}</a>
                        </li>                                              
                        <li><a href="blog.html">{% trans 'Nieuws' %}</a>
                        </li>    
                        <li class="{% if request.get_full_path == contact_url %}active{% endif %}"><a href="{% url 'contact' %}">{% trans 'Contact' %}</a></li>
                    </ul><!-- /.menu -->                                        
                </nav><!-- /.mainnav -->  
            </div><!-- /.nav-wrap -->
        </div><!-- /.header-wrap --> 
    </header><!-- /.header -->
</div><!-- /.site-header -->