{% extends "customer/emails/customer_base.html" %}

{% load currency_filters i18n %}

{% block message_subtitle %}
	{% trans 'Thank you!' %}
{% endblock message_subtitle %}

{% block message_body %}
	{% if order.shipping_code == 'Afhaling door klant' %}
		{% blocktrans %}
			Bedankt voor je bestelling! Zodra we jouw betaling hebben ontvangen op rekeningnummer <b style="font-weight: 600;">BE39 0017 1591 2519 (BIC: KREDBEBB)</b> zetten we de bestelde onderdelen klaar. We geven dan een seintje wanneer deze opgehaald kunnen worden
		{% endblocktrans %}
	{% else %}
		{% trans 'Op dit moment kunnen wij de verzendkosten nog niet automatisch berekenen. Op basis van de bestelde onderdelen berekenen wij de correcte verzendkosten, en contacteren we jou om deze te bevestigen. We streven ernaar om een antwoord te geven binnen de 2 werkdagen.' %}
	{% endif %}
{% endblock message_body %}

{% if not order.shipping_code == 'Afhaling door klant' %}
	{% block shipping_info %}
	    <h4 class="address" style="font-size: 20px;color: #21242b;border-bottom: 2px solid #32bfc0;max-width: 275px;font-weight: 600;">
	        {% trans 'Shipping address' %}
	    </h4>
		<p>
		{% for field in order.shipping_address.active_address_fields %}
			{{ field }}<br/>
		{% endfor %}
		</p>
	{% endblock shipping_info %}
{% endif %}


{% block overview_subtitle %}
	{% trans 'Jouw bestelling' %}
{% endblock overview_subtitle %}

{% if order.shipping_code == 'Afhaling door klant' %}
{% endif %}

{% block order_table_content %}
	{% for line in order.lines.all %}
    <tr {% if forloop.counter|divisibleby:2 %}class="event"{% endif %} style="height: 80px; {% if forloop.counter|divisibleby:2 %}background: #f5f5f5;{% endif %}">
        <td class="first" style="border-bottom: 1px solid #ddd;padding-left: 10px;padding-right: 10px;width: 55%;text-align: left;">
        	{{ line.title }} 
        </td>
        <td class="second" style="border-bottom: 1px solid #ddd;padding-left: 10px;padding-right: 10px;width: 15%;text-align: center;">
        	{{ line.quantity }}
        </td>
        <td class="third" style="border-bottom: 1px solid #ddd;padding-left: 10px;padding-right: 10px;width: 30%;text-align: right;">
        	{{ line.line_price_incl_tax|currency:order.currency }}
        </td>
    </tr>
    {% endfor %}
{% endblock order_table_content %}
{% block order_table_total %}
	{% if not order.shipping_code == 'Afhaling door klant' and order.shipping_incl_tax == 0 %}
	    <tr class="bottom total" style="height: 40px;">
	        <td class="third" colspan="2" style="border-bottom: 1px solid #ddd;padding-left: 10px;padding-right: 10px;width: 30%;text-align: right;border: none;font-weight: 400;font-size: 18px;">{% trans 'Subtotal' %}</td>
	        <td class="third" style="border-bottom: 1px solid #ddd;padding-left: 10px;padding-right: 10px;width: 30%;text-align: right;border: none;font-weight: 400;font-size: 18px;">eztze </td>
	    </tr>
    {% elif not order.shipping_code == 'Afhaling door klant' and not order.shipping_incl_tax == 0 %}
	    <tr class="bottom total" style="height: 40px;">
	        <td class="third" colspan="2" style="border-bottom: 1px solid #ddd;padding-left: 10px;padding-right: 10px;width: 30%;text-align: right;border: none;font-weight: 400;font-size: 18px;">{% trans 'Subtotal' %}</td>
	        <td class="third" style="border-bottom: 1px solid #ddd;padding-left: 10px;padding-right: 10px;width: 30%;text-align: right;border: none;font-weight: 400;font-size: 18px;">eztze </td>
	    </tr>
	    <tr class="bottom" style="height: 40px;">
	        <td class="third" colspan="2" style="border-bottom: 1px solid #ddd;padding-left: 10px;padding-right: 10px;width: 30%;text-align: right;border: none;font-weight: 400;font-size: 18px;">{% trans 'Shipping costs' %}</td>
	        <td class="third" style="border-bottom: 1px solid #ddd;padding-left: 10px;padding-right: 10px;width: 30%;text-align: right;border: none;font-weight: 400;font-size: 18px;">eztze </td>
	    </tr>
	    <tr class="bottom total" style="height: 40px;">
	        <td class="third" colspan="2" style="border-bottom: 1px solid #ddd;padding-left: 10px;padding-right: 10px;width: 30%;text-align: right;border: none;font-weight: 600;font-size: 18px;color: #21242b;">{% trans 'Total' %}</td>
	        <td class="third" style="border-bottom: 1px solid #ddd;padding-left: 10px;padding-right: 10px;width: 30%;text-align: right;border: none;font-weight: 600;font-size: 18px;color: #21242b;">{{ order.basket_total_incl_tax|currency:order.currency }} </td>
	    </tr>
    {% elif order.shipping_code == 'Afhaling door klant'%}
	    <tr class="bottom total" style="height: 40px;">
	        <td class="third" colspan="2" style="border-bottom: 1px solid #ddd;padding-left: 10px;padding-right: 10px;width: 30%;text-align: right;border: none;font-weight: 600;font-size: 18px;color: #21242b;">{% trans 'Total' %}</td>
	        <td class="third" style="border-bottom: 1px solid #ddd;padding-left: 10px;padding-right: 10px;width: 30%;text-align: right;border: none;font-weight: 600;font-size: 18px;color: #21242b;">{{ order.basket_total_incl_tax|currency:order.currency }} </td>
	    </tr>
    {% endif  %}

{% endblock order_table_total %}

<!-- {% block body %}<p xmlns="http://www.w3.org/1999/html">{% trans 'Hello,' %}</p>

<p>{% blocktrans with order_number=order.number %}We are pleased to confirm your order {{ order_number }} has been received and
will be processed shortly.{% endblocktrans %}</p>

<p>{% trans 'Your order contains:' %}</p>

<ul>
    {% for line in order.lines.all %}
    <li>{{ line.title }} - {%  trans 'quantity:' %} {{ line.quantity }} - {% trans 'price:' %} {{ line.line_price_incl_tax|currency:order.currency }}</li>
    {% endfor %}
</ul>
<p>
{% trans 'Basket total:' %} {{ order.basket_total_incl_tax|currency:order.currency }}<br/>
</p>

{% if order.shipping_code == 'Afhaling door klant' %}
<p>{% blocktrans %}Bedankt voor je bestelling! Zodra we jouw betaling hebben ontvangen op rekeningnummer 
BEXX XXXX XXXX XXXX zetten we de bestelde onderdelen klaar. We geven dan een seintje wanneer deze opgehaald
kunnen worden{% endblocktrans %}</p>
{% else %}
<p>{% trans 'Shipping address:' %}</p>

<p>{% for field in order.shipping_address.active_address_fields %}  {{ field }}<br/>
{% endfor %}</p>

{% trans 'Op dit moment kunnen wij de verzendkosten nog niet automatisch berekenen. Op basis van de bestelde onderdelen berekenen wij de correcte verzendkosten, en contacteren we jou om deze te bevestigen. We streven ernaar om een antwoord te geven binnen de 2 werkdagen.' %}
{% endif %}

{% if status_url %}
<p>{% blocktrans %}You can view the status of this order by clicking <a href="{{ status_url }}" title="order status">here</a>{% endblocktrans %}</p>
{% endif %}{% endblock %} -->