{% extends "customer/emails/customer_base.html" %}

{% load currency_filters i18n %}

{% block subtitle %}
	<h3 class="subtitle" style="color: #32bfc0;font-weight: 600;font-size: 24px;margin-bottom: 30px;">
	    <span>Jouw bestelling</span>
	</h3>
{% endblock subtitle %}

{% block order_table_content %}
    <tr style="height: 80px;">
        <td class="first" style="border-bottom: 1px solid #ddd;padding-left: 10px;padding-right: 10px;width: 55%;text-align: left;">tzerzetzet fdflmzetj zermlzej rzemtj mds fjmletj zemtr jmkjmjrmzaerj mljkmldjks ze </td>
        <td class="second" style="border-bottom: 1px solid #ddd;padding-left: 10px;padding-right: 10px;width: 15%;text-align: center;">tezt </td>
        <td class="third" style="border-bottom: 1px solid #ddd;padding-left: 10px;padding-right: 10px;width: 30%;text-align: right;">etzet</td>
    </tr>
{% endblock order_table_content %}

<!-- {% block body %}<p xmlns="http://www.w3.org/1999/html">{% trans 'Hello,' %}</p>

<p>{% blocktrans with order_number=order.number %}We are pleased to confirm your order {{ order_number }} has been received and
will be processed shortly.{% endblocktrans %}</p>

<p>{% trans 'Your order contains:' %}</p>

<ul>
    {% for line in order.lines.all %}
    <li>{{ line.title }} - {%  trans 'quantity:' %} {{ line.quantity }} - {% trans 'price:' %} {{ line.line_price_incl_tax|currency:order.currency }}</li>
    {% endfor %}
</ul>
<p>
{% trans 'Basket total:' %} {{ order.basket_total_incl_tax|currency:order.currency }}<br/>
</p>

{% if order.shipping_code == 'Afhaling door klant' %}
<p>{% blocktrans %}Bedankt voor je bestelling! Zodra we jouw betaling hebben ontvangen op rekeningnummer 
BEXX XXXX XXXX XXXX zetten we de bestelde onderdelen klaar. We geven dan een seintje wanneer deze opgehaald
kunnen worden{% endblocktrans %}</p>
{% else %}
<p>{% trans 'Shipping address:' %}</p>

<p>{% for field in order.shipping_address.active_address_fields %}  {{ field }}<br/>
{% endfor %}</p>

{% trans 'Op dit moment kunnen wij de verzendkosten nog niet automatisch berekenen. Op basis van de bestelde onderdelen berekenen wij de correcte verzendkosten, en contacteren we jou om deze te bevestigen. We streven ernaar om een antwoord te geven binnen de 2 werkdagen.' %}
{% endif %}

{% if status_url %}
<p>{% blocktrans %}You can view the status of this order by clicking <a href="{{ status_url }}" title="order status">here</a>{% endblocktrans %}</p>
{% endif %}{% endblock %} -->