{% extends 'base_email.html' %}

{% load currency_filters i18n %}

{% block body %}<p xmlns="http://www.w3.org/1999/html"></p>

<p>
    Er is een nieuwe bestelling binnengekomen vanaf de website!<br>
    Bestelling van: <b>{{ user.first_name }} {{ user.last_name }}</b><br>
    Email adres: <b>{{ user.email }}</b>
</p>

<ul>
    {% for line in basket.lines.all %}
    <li>{{ line.description }} - {{ line.quantity }} stuks x {% trans 'price:' %} {{ line.unit_price_incl_tax|currency:basket.currency }} = {{ line.line_price_incl_tax|currency:basket.currency }}</li>
    {% endfor %}
</ul>

<p>
    <b>{% trans 'Basket total:' %} {{ basket.total_incl_tax|currency:basket.currency }}</b><br/>
</p>

{% endblock body %}
