{% load i18n basket_tags purchase_info_tags %}

{% purchase_info_for_product request product as session %}

	{% if session.availability.is_available_to_buy %}
		{% basket_form request product 'single' as basket_form %}
			<form action="{% url 'basket:add' pk=product.pk %}" method="post">
				{% csrf_token %}
				{{ basket_form.as_p }}
				<button type="submit" class="button" href="/wel/">{% trans 'In winkelwagen' %}</a>
			</form>
	{% else %}
		<button class="button btn disabled">{% trans 'Niet beschikbaar' %}</button>
	{% endif %}


