{% load category_tags i18n %}

<div class="widget widget_product_categories">
    <h4 class="widget-title">{% trans 'Categoriëen' %}</h4>
    <ul class="product-categories">
{% category_tree as tree_categories %}
{% if tree_categories %}
	{% for tree_category, info in tree_categories %}
        {% if info.level==0 %}
		<li>
			<a href="{{ tree_category.get_absolute_url }}">{{ tree_category.name }}</a>
		</li>
        {% elif info.level==1 %}
         <!--{{ tree_category.name }}<br>-->
        {% endif %}
	{% endfor %}
{% endif %}
    </ul>
</div><!-- /.widget_product_categories -->