{% load i18n currency_filters %}

<ul class="cart_list product_list_widget"> 
    {% for line in basket.all_lines %}
    <li class="mini_cart_item">
        <a href="{% url 'basket:summary' %}"><img src="images/products/2.jpg" alt="images">{{  line.description }}</a>
        <p><span class="quantity">{{ line.quantity }} × <span class="amount">{{ line.unit_price_incl_tax|currency:request.basket.currency }}</span></span></p>
    </li>
    {% endfor %}  
</ul>
<p class="total">
    <strong>{% trans 'Subtotaal' %}:</strong> <span class="amount">{{ basket.total_excl_tax|currency:basket.currency }}</span>
</p>
<div class="group-btn">
    <a class="button" href="{% url 'basket:summary' %}">{% trans 'Winkelwagen' %}</a>                                                
    <a class="button bg-scheme3 style1" href="#">{% trans 'Afrekenen' %}</a>
</div>
