{% load i18n thumbnail currency_filters %}

{% if basket.all_lines %}
<ul class="cart_list product_list_widget"> 
    {% for line in basket.all_lines %}
    <li class="mini_cart_item" data-update-url="{% url 'basket-line-detail' basket_pk=basket.pk pk=line.pk %}">
    {% with image=line.product.primary_image %}
        {% thumbnail image.original "x155" upscale=False as thumb %}
        <a href="#" class="remove basket-edit">x</a>
        <a href="{% url 'basket:summary' %}">
        	<img src="{{ thumb.url }}" alt="{{ product.get_title }}"><span class="name">{{ line.description }}</span>
        </a>
        {% endthumbnail %}
    {% endwith %}
        <p class="cart">
        	<span class="quantity">
        		<span class="line-quantity">{{ line.quantity }}</span> × <span class="amount">{{ line.unit_price_incl_tax|currency:request.basket.currency }}</span>
        		<!--<a class="update-up">+</a><a class="update-down">-</a>-->
				<span class="group-btn mini_cart pull-right" data-quantity="{{ line.quantity }}">
				    <a class="button bg-scheme3 style1 less basket-edit" href="#">-</a>                
				    <a class="button more basket-edit" href="#">+</a>
				</span>
        	</span>
        </p>
    </li>
    {% endfor %}
</ul>
<p class="total">
    <strong>{% trans 'Subtotaal' %}:</strong> <span id="mini_cart_amount" class="amount">{{ basket.total_incl_tax|currency:basket.currency }}</span>
</p>
<div class="group-btn">
    <a class="button" href="{% url 'basket:summary' %}">{% trans 'Winkelwagen' %}</a>                                                
    <a class="button bg-scheme3 style1" href="{% url 'checkout:index' %}">{% trans 'Afrekenen' %}</a>
</div>
{% else %}
<ul class="cart_list product_list_widget">
    <li class="mini_cart_item">
        <p>Je hebt geen producten in je winkelmand!</p>
    </li>
</ul>
<div class="group-btn">
    <a class="button" href="{% url 'catalogue:index' %}">{% trans 'Naar shop' %}</a>                                                
</div>
{% endif %} 
