{% load i18n thumbnail purchase_info_tags currency_filters %}
<div class="col-md-4 col-sm-6">
    <li>
        <div class="product-inner">
            <div class="product-thumbnail text-center">
                <a href="{{ product.get_absolute_url }}">
                {% with image=product.primary_image %}
                    {% thumbnail image.original "x200" as thumb %}
                    <img src="{{ thumb.url }}" alt="{{ product.get_title }}" style="height: 200px;">
                    {% endthumbnail %}
                {% endwith %}
                </a>
            </div>
            {% purchase_info_for_product request product as session %}
            <div class="product-info">
                <div class="product-info-wrap">
                    <h3>{{ product|title }}</h3>
                    <span class="price">
                        {% if session.price.exists %}
                        <span class="amount">{{ session.price.incl_tax|currency:session.price.currency }}</span>
                        {% endif %}
                    </span>
                {% if not product.is_parent %}
                    {% include "catalogue/partials/add_to_basket_form_compact.html" %}
                {% endif %}
                </div>
            </div>
        </div><!-- /.product-inner -->
    </li>
</div>