{% load i18n thumbnail purchase_info_tags currency_filters %}
<div class="col-md-4 col-sm-6 col-xs-12">
    <li>
        <div class="product-inner">
            <div class="product-thumbnail">
                <a href="shop-detail.html">
                {% with image=product.primary_image %}
                    {% thumbnail image.original "x155" upscale=False as thumb %}
                    <img src="{{ thumb.url }}" alt="{{ product.get_title }}"></a>
                    {% endthumbnail %}
                {% endwith %}
                </a>
            </div>
            {% purchase_info_for_product request product as session %}
            <div class="product-info">
                <div class="product-info-wrap">
                    <h3>{{ product|title }}</h3>
                    <span class="price">
                        {% if session.price.exists %}
                        <span class="amount">{{ session.price.incl_tax|currency:session.price.currency }}</span>
                        {% endif %}
                    </span>
                    <a class="button" href="#">{% trans 'In winkelwagen' %}</a>
                </div>
            </div>
        </div><!-- /.product-inner -->
    </li>
</div>