{% extends 'layout.html' %}

{% load i18n %}

{% block title %}
    {{ page_title }} | {% trans 'Account' %} | {{ block.super }}
{% endblock %}

{% block body_class %}account-profile{% endblock %}

{% block breadcrumbs %}
    <ul class="breadcrumb">
        <li>
            <a href="{{ homepage_url }}">{% trans 'Home' %}</a>
        </li>
        <li>
            <a href="{% url 'customer:summary' %}">{% trans 'Account' %}</a>
        </li>
        {% block extra_breadcrumbs %}{% endblock %}
        <li class="active">{{ page_title }}</li>
    </ul>
{% endblock %}

{% block headertext %}{{ page_title }}{% endblock %}

{% block content %}
	<div class="flat-row flat-general sidebar-left">
	    <div class="container">
	        <div class="row">
	        	<div class="general">
	        	</div>
	        	<div class="general-sidebars">
	        		<div class="sidebar">
	        			<div class="widget widget_nav_menu">
                            <ul class="nav_menu">
                                <li class="menu-item">
                                    <a href="services.html">All services</a>
                                </li>
                                <li class="menu-item">
                                    <a href="services-detail.html">Packaged goods transport</a>
                                </li>
                                <li class="menu-item">
                                    <a href="services-detail-v2.html">Multimodal transport</a>
                                </li>
                                <li class="menu-item">
                                    <a class="active" href="services-detail-v3.html">Sea and air freight</a>
                                </li>
                                <li class="menu-item">
                                    <a href="services-detail-v4.html">Logistics solutions</a>
                                </li>
                                <li class="menu-item">
                                    <a href="services-detail-v5.html">Warehousing and storage</a>
                                </li>
                                <li class="menu-item">
                                    <a href="services-detail-v6.html">Forwarding services</a>
                                </li>
                            </ul>
                        </div>
	    			{% block tabbed_navigation %}
					{% endblock tabbed_navigation %}
	        	</div>
	    	</div>
    	</div>
	</div>



{% endblock content %}

{% block column_left %}
    <ul class="nav nav-pills nav-stacked">
        {% block standard_tabs %}
            <li{% if active_tab == 'profile' %} class="active"{% endif %}>
                <a href="{% url 'customer:profile-view' %}">{% trans "Profile" %}</a>
            </li>
            <li{% if active_tab == 'orders' %} class="active"{% endif %}>
                <a href="{% url 'customer:order-list' %}">{% trans "Order History" %}</a>
            </li>
            <li{% if active_tab == 'addresses' %} class="active"{% endif %}>
                <a href="{% url 'customer:address-list' %}">{% trans "Address Book" %}</a>
            </li>
            <li{% if active_tab == 'emails' %} class="active"{% endif %}>
                <a href="{% url 'customer:email-list' %}">{% trans "Email History" %}</a>
            </li>
            <li{% if active_tab == 'alerts' %} class="active"{% endif %}>
                <a href="{% url 'customer:alerts-list' %}">{% trans "Product Alerts" %}</a>
            </li>
            <li{% if active_tab == 'notifications' %} class="active"{% endif %}>
                <a href="{% url 'customer:notifications-inbox' %}">{% trans "Notifications" %}</a>
            </li>
            <li{% if active_tab == 'wishlists' %} class="active"{% endif %}>
                <a href="{% url 'customer:wishlists-list' %}">{% trans "Wish Lists" %}</a>
            </li>
        {% endblock %}
    </ul>
{% endblock %}
