{% extends 'layout.html' %}

{% load i18n %}

{% block title %}
    {{ page_title }} | {% trans 'Account' %} | {{ block.super }}
{% endblock %}

{% block body_class %}account-profile{% endblock %}

{% block breadcrumbs %}
    <ul class="breadcrumb">
        <li>
            <a href="{{ homepage_url }}">{% trans 'Home' %}</a>
        </li>
        <li>
            <a href="{% url 'customer:summary' %}">{% trans 'Account' %}</a>
        </li>
        {% block extra_breadcrumbs %}{% endblock %}
        <li class="active">{{ page_title }}</li>
    </ul>
{% endblock %}

{% block headertext %}{{ page_title }}{% endblock %}

{% block content %}
	<div class="flat-row flat-general sidebar-left">
	    <div class="container">
	        <div class="row">
	        	<div class="general">
	    			{% block tabcontent %}
					{% endblock tabcontent %}
	        	</div>
	        	<div class="general-sidebars">
	        		<div class="sidebar">
	        			<div class="widget widget_nav_menu">
                            <ul class="nav_menu">
                            	{% block standard_tabs %}
                                <li class="menu-item">
                                    <a {% if active_tab == 'profile' %} class="active"{% endif %} href="{% url 'customer:profile-view' %}">{% trans 'Profiel' %}</a>
                                </li>
					            <li class="menu-item">
					                <a {% if active_tab == 'orders' %} class="active"{% endif %} href="{% url 'customer:order-list' %}">{% trans "Order History" %}</a>
					            </li>
					            <li class="menu-item">
					                <a {% if active_tab == 'addresses' %} class="active"{% endif %} href="{% url 'customer:address-list' %}">{% trans "Address Book" %}</a>
					            </li>
					            <!-- <li class="menu-item">
					                <a {% if active_tab == 'emails' %} class="active"{% endif %} href="{% url 'customer:email-list' %}">{% trans "Email History" %}</a>
					            </li>
					            <li class="menu-item">
					                <a {% if active_tab == 'alerts' %} class="active"{% endif %} href="{% url 'customer:alerts-list' %}">{% trans "Product Alerts" %}</a>
					            </li>
					            <li class="menu-item">
					                <a {% if active_tab == 'notifications' %} class="active"{% endif %} href="{% url 'customer:notifications-inbox' %}">{% trans "Notifications" %}</a>
					            </li>
					            <li class="menu-item">
					                <a {% if active_tab == 'wishlists' %} class="active"{% endif %} href="{% url 'customer:wishlists-list' %}">{% trans "Wish Lists" %}</a>
					            </li> -->
                                {% endblock standard_tabs %}
                            </ul>
                        </div>
                    </div>
	        	</div>
	    	</div>
    	</div>
	</div>
{% endblock content %}

<!-- TO DO: wordt voorlopig niet gebruikt! -->
{% block extrascripts %}
	{{ block.super }}
		<!-- MATCHHEIGHT: Init-->
		    <script type="text/javascript">
		        $(function() {
		            $.fn.matchHeight._maintainScroll = true;
		            $('div.product-info-wrap>h3').matchHeight();
		            $('div.product-info-wrap>span.price').matchHeight();
		        });
		    </script>
		<!-- FLAT TABS: Init -->
		    <script type="text/javascript">
		    $(function() { 
		        flatTabs();
		    });
		    </script>
{% endblock extrascripts %}


