{% load i18n %}

{% if events %}
	<ul>
	{% for event in events %}
	    <li>
	    	{% if event.website %}
	        <a href="{{ event.website }}" target="_blank">
	        	<small style="font-weight: normal">{{ event.name|title }}</small>
        	</a>
	        {% else %}
	        <a>
	        	<small style="font-weight: normal">{{ event.name|title }}</small>
        	</a>
	        {% endif %}
	        	<small style="font-weight: normal">{{ event.location|title }}</small>
	        </a>
	        <span class="post-date">{{ event.date_represenation }}</span>
	    </li>
	    {% if not forloop.last %}
	    <hr style="margin: 5px; color: grey">
	    {% endif %}
	{% endfor %}
	</ul>
{% else %}
	<a>
		{% trans 'Er zijn op dit ogenblik geen beurzen gepland' %}
	</a>
	 {% if user.is_staff  %}
	<hr>
	<a class="button" href="{% url 'event-list' %}"" style="color:white; text-align: center;">Event toevoegen</a>
	{% endif %}
{% endif %}